# Importing Libraries

In [1]:
import pandas as pd
import numpy as np

# Importing Datasets

In [146]:
df_general = pd.read_excel('(PRA)_(OFFG)_8350731_v_1_010242 - Analyst Data Science - Technical Assessment - Data.xlsx', sheet_name='Dataset 1 - General')
df_underwriting = pd.read_excel('(PRA)_(OFFG)_8350731_v_1_010242 - Analyst Data Science - Technical Assessment - Data.xlsx', sheet_name='Dataset 2 - Underwriting')

In [136]:
df_general

,Unnamed: 0,NWP (£m),NWP (£m) .1,NWP (£m) .2,NWP (£m) .3,NWP (£m) .4,SCR (£m),SCR (£m).1,SCR (£m).2,SCR (£m).3,...,Total liabilities (£m),Total liabilities (£m).1,Total liabilities (£m).2,Total liabilities (£m).3,Total liabilities (£m).4,Excess of assets over liabilities (£m) [= equity],Excess of assets over liabilities (£m) [= equity].1,Excess of assets over liabilities (£m) [= equity].2,Excess of assets over liabilities (£m) [= equity].3,Excess of assets over liabilities (£m) [= equity].4
0,NaN,2016YE,2017YE,2018YE,2019YE,2020YE,2016YE,2017YE,2018YE,2019YE,...,2016YE,2017YE,2018YE,2019YE,2020YE,2016YE,2017YE,2018YE,2019YE,2020YE
1,Firm 1,-17754.100486,0,0,0,0,2021.321862,0.0,0,0,...,40171.683156,0,0,0,0,1243.924991,4.398725,0,0,0
2,Firm 2,9.244369,0.098771,40.812426,35.643071,13.626145,16.459756,15.009073,14.227214,15.037066,...,7.970519,12.796789,11.332857,6.73019,16.173862,8.755261,48.425189,0.070823,43.36838,12.456319
3,Firm 3,0,0.80613,36.620199,86.630018,54.74418,486.887796,495.786299,626.612217,81.242579,...,68.000844,1592.310597,1005.328927,593.689101,374.712155,210.918808,100.776891,87.586067,922.487659,412.466207
4,Firm 4,19677.453353,41072.816156,20885.506445,14719.672914,49204.465136,15975.652771,15367.887099,10797.123319,22788.359468,...,48416.743356,30870.226541,68145.069079,92600.140108,92273.053968,24862.167211,7191.961836,12910.346383,12586.973993,24127.839035
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
321,Firm 321,0,0,-0.167178,-6.813367,31.258806,0,0.365214,70.399156,68.655722,...,0,0.005647,1776.379248,1843.139217,10455.584133,0,0.021877,23.475958,125.140116,60.013312
322,Firm 322,3315.466643,4136.476625,2192.750865,2252.917257,2780.628432,578.238997,1926.540266,1366.552217,849.073657,...,5978.084709,5250.432938,4906.432272,6204.396397,5566.091662,3860.015668,2114.645213,3198.394329,1029.870659,3640.241631
323,Firm 323,0,0,0,0,0,6.459131,28.03774,5.689804,1.674462,...,40.153398,33.497286,30.445115,17.823604,13.01995,73.65038,88.869984,92.834958,91.194544,2.725257
324,Firm 324,29.811172,21.003008,13.55174,6.145755,49.793157,45.967315,57.3232,36.91081,1.012305,...,253.309101,353.395687,273.73697,354.965671,298.298975,61.39788,63.08469,73.016922,11.684645,21.921881
325,Firm 325,108.471899,496.29603,437.217641,120.652291,0,402.002179,408.272986,477.423649,346.976664,...,673.343922,989.011927,1762.579368,1487.32319,0,183.26471,124.780162,632.096113,592.454455,0

In [137]:
df_underwriting.head(10)

,Unnamed: 0,Gross claims incurred (£m),Gross claims incurred (£m).1,Gross claims incurred (£m).2,Gross claims incurred (£m).3,Gross claims incurred (£m).4,"Gross BEL (inc. TPs as whole, pre-TMTP) (£m)","Gross BEL (inc. TPs as whole, pre-TMTP) (£m).1","Gross BEL (inc. TPs as whole, pre-TMTP) (£m).2","Gross BEL (inc. TPs as whole, pre-TMTP) (£m).3",...,Gross expense ratio,Gross expense ratio.1,Gross expense ratio.2,Gross expense ratio.3,Gross expense ratio.4,Gross combined ratio,Gross combined ratio.1,Gross combined ratio.2,Gross combined ratio.3,Gross combined ratio.4
0,NaN,2016YE,2017YE,2018YE,2019YE,2020YE,2016YE,2017YE,2018YE,2019YE,...,2016YE,2017YE,2018YE,2019YE,2020YE,2016YE,2017YE,2018YE,2019YE,2020YE
1,Firm 1,0,0.005515,0,0,0,0,0.588994,0,0,...,0,77.251254,0,0,0,0,0.675051,0,0,0
2,Firm 2,44.467865,29.489599,34.100482,0,0,221.32768,59.474691,266.118414,0,...,0.391179,0.685941,1.433284,0,0,1.750946,1.321523,1.545325,0,0
3,Firm 3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Firm 4,14.340938,71.062447,87.912471,42.280402,3.668494,-35.112768,7.848685,100.87627,167.959536,...,0.231139,0.285471,0.05415,0.051848,-0.162883,1.047234,0.476384,3.307379,1.247403,-2.303093
5,Firm 5,48.738606,425.748869,691.379669,174.10126,5.927624,8.386701,253.149414,587.461209,226.977435,...,0.236128,0.232725,0.204508,0.131739,0.048703,0.243611,1.977732,2.495287,0.365455,1.133645
6,Firm 6,125.076792,457.319722,364.148755,257.332452,268.527873,800.531844,554.61207,232.550208,187.213749,...,0.105267,0.451178,0.239576,0.261323,0.06571,0.650369,0.904271,0.147146,0.351034,0.68786
7,Firm 7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,Firm 8,0.107354,-0.027761,-0.177631,0,0,0.684128,1.118496,0.861629,1.247482,...,0.51999,0.283165,0.050566,0.464667,0,1.271792,0.125035,-0.013901,1.046206,0
9,Firm 9,213.496532,87.593124,193.063868,78.949374,0,567.216981,695.143727,835.779951,511.859035,...,0.703507,0.444564,0.594972,0.043628,0,1.413159,0.337763,1.530192,0.902398,0

# Preliminary Checking of data

In [138]:
# Checking basic info for each data
df_general.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 326 entries, 0 to 325
Data columns (total 41 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   Unnamed: 0                                           325 non-null    object
 1   NWP (£m)                                             326 non-null    object
 2   NWP (£m) .1                                          326 non-null    object
 3   NWP (£m) .2                                          326 non-null    object
 4   NWP (£m) .3                                          326 non-null    object
 5   NWP (£m) .4                                          326 non-null    object
 6   SCR (£m)                                             326 non-null    object
 7   SCR (£m).1                                           326 non-null    object
 8   SCR (£m).2                                           326 non-null    object
 9   SCR (£m).3                                           326 non-null    object
 10  SCR (£m).4                                           326 non-null    object
 11  EoF for SCR (£m)                                     326 non-null    object
 12  EoF for SCR (£m).1                                   326 non-null    object
 13  EoF for SCR (£m).2                                   326 non-null    object
 14  EoF for SCR (£m).3                                   326 non-null    object
 15  EoF for SCR (£m).4                                   326 non-null    object
 16  SCR coverage ratio                                   326 non-null    object
 17  SCR coverage ratio.1                                 326 non-null    object
 18  SCR coverage ratio.2                                 326 non-null    object
 19  SCR coverage ratio.3                                 326 non-null    object
 20  SCR coverage ratio.4                                 326 non-null    object
 21  GWP (£m)                                             326 non-null    object
 22  GWP (£m).1                                           326 non-null    object
 23  GWP (£m).2                                           326 non-null    object
 24  GWP (£m).3                                           326 non-null    object
 25  GWP (£m).4                                           326 non-null    object
 26  Total assets (£m)                                    326 non-null    object
 27  Total assets (£m).1                                  326 non-null    object
 28  Total assets (£m).2                                  326 non-null    object
 29  Total assets (£m).3                                  326 non-null    object
 30  Total assets (£m).4                                  326 non-null    object
 31  Total liabilities (£m)                               326 non-null    object
 32  Total liabilities (£m).1                             326 non-null    object
 33  Total liabilities (£m).2                             326 non-null    object
 34  Total liabilities (£m).3                             326 non-null    object
 35  Total liabilities (£m).4                             326 non-null    object
 36  Excess of assets over liabilities (£m) [= equity]    326 non-null    object
 37  Excess of assets over liabilities (£m) [= equity].1  326 non-null    object
 38  Excess of assets over liabilities (£m) [= equity].2  326 non-null    object
 39  Excess of assets over liabilities (£m) [= equity].3  326 non-null    object
 40  Excess of assets over liabilities (£m) [= equity].4  326 non-null    object
dtypes: object(41)
memory usage: 104.5+ KB

In [139]:
# Checking basic info for each data
df_underwriting.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 457 entries, 0 to 456
Data columns (total 46 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Unnamed: 0                                      456 non-null    object
 1   Gross claims incurred (£m)                      457 non-null    object
 2   Gross claims incurred (£m).1                    457 non-null    object
 3   Gross claims incurred (£m).2                    457 non-null    object
 4   Gross claims incurred (£m).3                    457 non-null    object
 5   Gross claims incurred (£m).4                    457 non-null    object
 6   Gross BEL (inc. TPs as whole, pre-TMTP) (£m)    457 non-null    object
 7   Gross BEL (inc. TPs as whole, pre-TMTP) (£m).1  457 non-null    object
 8   Gross BEL (inc. TPs as whole, pre-TMTP) (£m).2  457 non-null    object
 9   Gross BEL (inc. TPs as whole, pre-TMTP) (£m).3  457 non-null    object
 10  Gross BEL (inc. TPs as whole, pre-TMTP) (£m).4  457 non-null    object
 11  Net BEL (inc. TPs as a whole, pre-TMTP) (£m)    457 non-null    object
 12  Net BEL (inc. TPs as a whole, pre-TMTP) (£m).1  457 non-null    object
 13  Net BEL (inc. TPs as a whole, pre-TMTP) (£m).2  457 non-null    object
 14  Net BEL (inc. TPs as a whole, pre-TMTP) (£m).3  457 non-null    object
 15  Net BEL (inc. TPs as a whole, pre-TMTP) (£m).4  457 non-null    object
 16  Pure net claims ratio                           457 non-null    object
 17  Pure net claims ratio.1                         457 non-null    object
 18  Pure net claims ratio.2                         457 non-null    object
 19  Pure net claims ratio.3                         457 non-null    object
 20  Pure net claims ratio.4                         457 non-null    object
 21  Net expense ratio                               457 non-null    object
 22  Net expense ratio.1                             457 non-null    object
 23  Net expense ratio.2                             457 non-null    object
 24  Net expense ratio.3                             457 non-null    object
 25  Net expense ratio.4                             457 non-null    object
 26  Net combined ratio                              457 non-null    object
 27  Net combined ratio.1                            457 non-null    object
 28  Net combined ratio.2                            457 non-null    object
 29  Net combined ratio.3                            457 non-null    object
 30  Net combined ratio.4                            457 non-null    object
 31  Pure gross claims ratio                         457 non-null    object
 32  Pure gross claims ratio.1                       457 non-null    object
 33  Pure gross claims ratio.2                       457 non-null    object
 34  Pure gross claims ratio.3                       457 non-null    object
 35  Pure gross claims ratio.4                       457 non-null    object
 36  Gross expense ratio                             457 non-null    object
 37  Gross expense ratio.1                           457 non-null    object
 38  Gross expense ratio.2                           457 non-null    object
 39  Gross expense ratio.3                           457 non-null    object
 40  Gross expense ratio.4                           457 non-null    object
 41  Gross combined ratio                            457 non-null    object
 42  Gross combined ratio.1                          457 non-null    object
 43  Gross combined ratio.2                          457 non-null    object
 44  Gross combined ratio.3                          457 non-null    object
 45  Gross combined ratio.4                          457 non-null    object
dtypes: object(46)
memory usage: 164.4+ KB

In [7]:
# Calculating total null values
df_general.isna().sum()

Unnamed: 0                                             1
NWP (£m)                                               0
NWP (£m) .1                                            0
NWP (£m) .2                                            0
NWP (£m) .3                                            0
NWP (£m) .4                                            0
SCR (£m)                                               0
SCR (£m).1                                             0
SCR (£m).2                                             0
SCR (£m).3                                             0
SCR (£m).4                                             0
EoF for SCR (£m)                                       0
EoF for SCR (£m).1                                     0
EoF for SCR (£m).2                                     0
EoF for SCR (£m).3                                     0
EoF for SCR (£m).4                                     0
SCR coverage ratio                                     0
SCR coverage ratio.1                                   0
SCR coverage ratio.2                                   0
SCR coverage ratio.3                                   0
SCR coverage ratio.4                                   0
GWP (£m)                                               0
GWP (£m).1                                             0
GWP (£m).2                                             0
GWP (£m).3                                             0
GWP (£m).4                                             0
Total assets (£m)                                      0
Total assets (£m).1                                    0
Total assets (£m).2                                    0
Total assets (£m).3                                    0
Total assets (£m).4                                    0
Total liabilities (£m)                                 0
Total liabilities (£m).1                               0
Total liabilities (£m).2                               0
Total liabilities (£m).3                               0
Total liabilities (£m).4                               0
Excess of assets over liabilities (£m) [= equity]      0
Excess of assets over liabilities (£m) [= equity].1    0
Excess of assets over liabilities (£m) [= equity].2    0
Excess of assets over liabilities (£m) [= equity].3    0
Excess of assets over liabilities (£m) [= equity].4    0
dtype: int64

In [8]:
# Calculating total null values
df_underwriting.isna().sum()

Unnamed: 0                                        1
Gross claims incurred (£m)                        0
Gross claims incurred (£m).1                      0
Gross claims incurred (£m).2                      0
Gross claims incurred (£m).3                      0
Gross claims incurred (£m).4                      0
Gross BEL (inc. TPs as whole, pre-TMTP) (£m)      0
Gross BEL (inc. TPs as whole, pre-TMTP) (£m).1    0
Gross BEL (inc. TPs as whole, pre-TMTP) (£m).2    0
Gross BEL (inc. TPs as whole, pre-TMTP) (£m).3    0
Gross BEL (inc. TPs as whole, pre-TMTP) (£m).4    0
Net BEL (inc. TPs as a whole, pre-TMTP) (£m)      0
Net BEL (inc. TPs as a whole, pre-TMTP) (£m).1    0
Net BEL (inc. TPs as a whole, pre-TMTP) (£m).2    0
Net BEL (inc. TPs as a whole, pre-TMTP) (£m).3    0
Net BEL (inc. TPs as a whole, pre-TMTP) (£m).4    0
Pure net claims ratio                             0
Pure net claims ratio.1                           0
Pure net claims ratio.2                           0
Pure net claims ratio.3                           0
Pure net claims ratio.4                           0
Net expense ratio                                 0
Net expense ratio.1                               0
Net expense ratio.2                               0
Net expense ratio.3                               0
Net expense ratio.4                               0
Net combined ratio                                0
Net combined ratio.1                              0
Net combined ratio.2                              0
Net combined ratio.3                              0
Net combined ratio.4                              0
Pure gross claims ratio                           0
Pure gross claims ratio.1                         0
Pure gross claims ratio.2                         0
Pure gross claims ratio.3                         0
Pure gross claims ratio.4                         0
Gross expense ratio                               0
Gross expense ratio.1                             0
Gross expense ratio.2                             0
Gross expense ratio.3                             0
Gross expense ratio.4                             0
Gross combined ratio                              0
Gross combined ratio.1                            0
Gross combined ratio.2                            0
Gross combined ratio.3                            0
Gross combined ratio.4                            0
dtype: int64

#### 1. From Initial look it seems datatype is object that should be converted to float or int for further analysis, 
#### 2. Also column name should be changed so that row 1 (containing financial year) can be replaced by metrics

In [14]:
df_general.columns

Index(['Unnamed: 0', 'NWP (£m) ', 'NWP (£m) .1', 'NWP (£m) .2', 'NWP (£m) .3',
       'NWP (£m) .4', 'SCR (£m)', 'SCR (£m).1', 'SCR (£m).2', 'SCR (£m).3',
       'SCR (£m).4', 'EoF for SCR (£m)', 'EoF for SCR (£m).1',
       'EoF for SCR (£m).2', 'EoF for SCR (£m).3', 'EoF for SCR (£m).4',
       'SCR coverage ratio', 'SCR coverage ratio.1', 'SCR coverage ratio.2',
       'SCR coverage ratio.3', 'SCR coverage ratio.4', 'GWP (£m)',
       'GWP (£m).1', 'GWP (£m).2', 'GWP (£m).3', 'GWP (£m).4',
       'Total assets (£m)', 'Total assets (£m).1', 'Total assets (£m).2',
       'Total assets (£m).3', 'Total assets (£m).4', 'Total liabilities (£m)',
       'Total liabilities (£m).1', 'Total liabilities (£m).2',
       'Total liabilities (£m).3', 'Total liabilities (£m).4',
       'Excess of assets over liabilities (£m) [= equity]',
       'Excess of assets over liabilities (£m) [= equity].1',
       'Excess of assets over liabilities (£m) [= equity].2',
       'Excess of assets over liabilities (£m) [= equity].3',
       'Excess of assets over liabilities (£m) [= equity].4'],
      dtype='object')

In [147]:
df_general = df_general.rename(columns={'Unnamed: 0': 'Firm name'})
df_underwriting = df_underwriting.rename(columns={'Unnamed: 0': 'Firm name'})

In [127]:
df_underwriting.head()

,Firm name,Gross claims incurred (£m),Gross claims incurred (£m).1,Gross claims incurred (£m).2,Gross claims incurred (£m).3,Gross claims incurred (£m).4,"Gross BEL (inc. TPs as whole, pre-TMTP) (£m)","Gross BEL (inc. TPs as whole, pre-TMTP) (£m).1","Gross BEL (inc. TPs as whole, pre-TMTP) (£m).2","Gross BEL (inc. TPs as whole, pre-TMTP) (£m).3",...,Gross expense ratio,Gross expense ratio.1,Gross expense ratio.2,Gross expense ratio.3,Gross expense ratio.4,Gross combined ratio,Gross combined ratio.1,Gross combined ratio.2,Gross combined ratio.3,Gross combined ratio.4
0,NaN,2016YE,2017YE,2018YE,2019YE,2020YE,2016YE,2017YE,2018YE,2019YE,...,2016YE,2017YE,2018YE,2019YE,2020YE,2016YE,2017YE,2018YE,2019YE,2020YE
1,Firm 1,0,0.005515,0,0,0,0,0.588994,0,0,...,0,77.251254,0,0,0,0,0.675051,0,0,0
2,Firm 2,44.467865,29.489599,34.100482,0,0,221.32768,59.474691,266.118414,0,...,0.391179,0.685941,1.433284,0,0,1.750946,1.321523,1.545325,0,0
3,Firm 3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Firm 4,14.340938,71.062447,87.912471,42.280402,3.668494,-35.112768,7.848685,100.87627,167.959536,...,0.231139,0.285471,0.05415,0.051848,-0.162883,1.047234,0.476384,3.307379,1.247403,-2.303093

In [95]:
# Applying the conversion function to each cell (excluding the first row and first column)
df_general.iloc[1:, 1:] = df_general.iloc[1:, 1:].applymap(lambda x: float(x) if pd.notnull(x) else x)

In [96]:
df_underwriting.iloc[1:, 1:] = df_underwriting.iloc[1:, 1:].applymap(lambda x: float(x) if pd.notnull(x) else x)

In [46]:
df_underwriting.iloc[1:, 1:].describe()

,Gross claims incurred (£m),Gross claims incurred (£m).1,Gross claims incurred (£m).2,Gross claims incurred (£m).3,Gross claims incurred (£m).4,"Gross BEL (inc. TPs as whole, pre-TMTP) (£m)","Gross BEL (inc. TPs as whole, pre-TMTP) (£m).1","Gross BEL (inc. TPs as whole, pre-TMTP) (£m).2","Gross BEL (inc. TPs as whole, pre-TMTP) (£m).3","Gross BEL (inc. TPs as whole, pre-TMTP) (£m).4",...,Gross expense ratio,Gross expense ratio.1,Gross expense ratio.2,Gross expense ratio.3,Gross expense ratio.4,Gross combined ratio,Gross combined ratio.1,Gross combined ratio.2,Gross combined ratio.3,Gross combined ratio.4
count,456.0,456.0,456.0,456.0,456.0,456.0,456.0,456.0,456.0,456.0,...,456.0,456.0,456.0,456.0,456.0,456.0,456.0,456.0,456.0,456.0
unique,279.0,301.0,294.0,279.0,269.0,284.0,305.0,300.0,288.0,277.0,...,243.0,269.0,264.0,251.0,243.0,244.0,270.0,264.0,251.0,243.0
top,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
freq,178.0,156.0,163.0,178.0,188.0,173.0,152.0,157.0,169.0,180.0,...,214.0,188.0,193.0,206.0,214.0,213.0,187.0,193.0,206.0,214.0

In [78]:
existing_column_names

['Firms',
 'Gross claims incurred (£m)',
 'Gross claims incurred (£m)',
 'Gross claims incurred (£m)',
 'Gross claims incurred (£m)',
 'Gross claims incurred (£m)',
 'Gross BEL (inc. TPs as whole, pre-TMTP) (£m)',
 'Gross BEL (inc. TPs as whole, pre-TMTP) (£m)',
 'Gross BEL (inc. TPs as whole, pre-TMTP) (£m)',
 'Gross BEL (inc. TPs as whole, pre-TMTP) (£m)',
 'Gross BEL (inc. TPs as whole, pre-TMTP) (£m)',
 'Net BEL (inc. TPs as a whole, pre-TMTP) (£m)',
 'Net BEL (inc. TPs as a whole, pre-TMTP) (£m)',
 'Net BEL (inc. TPs as a whole, pre-TMTP) (£m)',
 'Net BEL (inc. TPs as a whole, pre-TMTP) (£m)',
 'Net BEL (inc. TPs as a whole, pre-TMTP) (£m)',
 'Pure net claims ratio',
 'Pure net claims ratio',
 'Pure net claims ratio',
 'Pure net claims ratio',
 'Pure net claims ratio',
 'Net expense ratio',
 'Net expense ratio',
 'Net expense ratio',
 'Net expense ratio',
 'Net expense ratio',
 'Net combined ratio',
 'Net combined ratio',
 'Net combined ratio',
 'Net combined ratio',
 'Net combined ratio',
 'Pure gross claims ratio',
 'Pure gross claims ratio',
 'Pure gross claims ratio',
 'Pure gross claims ratio',
 'Pure gross claims ratio',
 'Gross expense ratio',
 'Gross expense ratio',
 'Gross expense ratio',
 'Gross expense ratio',
 'Gross expense ratio',
 'Gross combined ratio',
 'Gross combined ratio',
 'Gross combined ratio',
 'Gross combined ratio',
 'Gross combined ratio']

In [128]:
df_underwriting

,Firm name,Gross claims incurred (£m),Gross claims incurred (£m).1,Gross claims incurred (£m).2,Gross claims incurred (£m).3,Gross claims incurred (£m).4,"Gross BEL (inc. TPs as whole, pre-TMTP) (£m)","Gross BEL (inc. TPs as whole, pre-TMTP) (£m).1","Gross BEL (inc. TPs as whole, pre-TMTP) (£m).2","Gross BEL (inc. TPs as whole, pre-TMTP) (£m).3",...,Gross expense ratio,Gross expense ratio.1,Gross expense ratio.2,Gross expense ratio.3,Gross expense ratio.4,Gross combined ratio,Gross combined ratio.1,Gross combined ratio.2,Gross combined ratio.3,Gross combined ratio.4
0,NaN,2016YE,2017YE,2018YE,2019YE,2020YE,2016YE,2017YE,2018YE,2019YE,...,2016YE,2017YE,2018YE,2019YE,2020YE,2016YE,2017YE,2018YE,2019YE,2020YE
1,Firm 1,0,0.005515,0,0,0,0,0.588994,0,0,...,0,77.251254,0,0,0,0,0.675051,0,0,0
2,Firm 2,44.467865,29.489599,34.100482,0,0,221.32768,59.474691,266.118414,0,...,0.391179,0.685941,1.433284,0,0,1.750946,1.321523,1.545325,0,0
3,Firm 3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Firm 4,14.340938,71.062447,87.912471,42.280402,3.668494,-35.112768,7.848685,100.87627,167.959536,...,0.231139,0.285471,0.05415,0.051848,-0.162883,1.047234,0.476384,3.307379,1.247403,-2.303093
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
452,Firm 452,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
453,Firm 453,8.386235,-1.739109,-1.856683,-0.76595,-3.383745,1.694955,148.978198,253.854632,136.672432,...,0,0,0,0,0,0,0,0,0,0
454,Firm 454,2.000729,3.68701,32.552017,14.850354,15.241039,-0.973747,9.898097,21.950784,4.471228,...,0.124174,0.16722,0.606652,0.040353,0.441248,0.018731,2.615257,2.956422,0.728193,0.352309
455,Firm 455,0,4.549259,1.604993,9.103593,185.079296,0,39.530014,15.362991,45.619029,...,0,1.689138,0.89107,0.905046,0.892326,0,1.336544,0.793408,1.223609,4.331669
456,Firm 456,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [148]:
def get_new_column_names(df):
    '''
    Input - DataFrame
    Output - DataFrame
    '''
    # Get the values from the first row as a list
    first_row_values = df.iloc[0].tolist()

    # Extract the existing column names
    existing_column_names = df.columns.tolist()
    existing_column_names = [col.rstrip('.1234567890') for col in existing_column_names]

    # Concatenate the first row values with the existing column names
    new_column_names = [f"{col} - {val}" for col, val in zip(existing_column_names, first_row_values)]

    # Rename the columns of the DataFrame with the new column names
    df.columns = new_column_names
    
    df = df.rename(columns={'Firm name - nan': 'Firm name'})
    
    # Dropping first row
    df = df.drop(0)
    
    return df

In [149]:
def get_float_type(df):
    
    df_metrics = df.drop(['Firm name'], axis=1)
    
    df_metrics = df_metrics.applymap(lambda x: float(x) if pd.notnull(x) else x)
    
    df = pd.concat([df['Firm name'], df_metrics], axis=1)
    
    return df

In [150]:
df_general = get_new_column_names(df_general)
df_underwriting = get_new_column_names(df_underwriting)

In [151]:
df_underwriting

,Firm name,Gross claims incurred (£m) - 2016YE,Gross claims incurred (£m) - 2017YE,Gross claims incurred (£m) - 2018YE,Gross claims incurred (£m) - 2019YE,Gross claims incurred (£m) - 2020YE,"Gross BEL (inc. TPs as whole, pre-TMTP) (£m) - 2016YE","Gross BEL (inc. TPs as whole, pre-TMTP) (£m) - 2017YE","Gross BEL (inc. TPs as whole, pre-TMTP) (£m) - 2018YE","Gross BEL (inc. TPs as whole, pre-TMTP) (£m) - 2019YE",...,Gross expense ratio - 2016YE,Gross expense ratio - 2017YE,Gross expense ratio - 2018YE,Gross expense ratio - 2019YE,Gross expense ratio - 2020YE,Gross combined ratio - 2016YE,Gross combined ratio - 2017YE,Gross combined ratio - 2018YE,Gross combined ratio - 2019YE,Gross combined ratio - 2020YE
1,Firm 1,0,0.005515,0,0,0,0,0.588994,0,0,...,0,77.251254,0,0,0,0,0.675051,0,0,0
2,Firm 2,44.467865,29.489599,34.100482,0,0,221.32768,59.474691,266.118414,0,...,0.391179,0.685941,1.433284,0,0,1.750946,1.321523,1.545325,0,0
3,Firm 3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Firm 4,14.340938,71.062447,87.912471,42.280402,3.668494,-35.112768,7.848685,100.87627,167.959536,...,0.231139,0.285471,0.05415,0.051848,-0.162883,1.047234,0.476384,3.307379,1.247403,-2.303093
5,Firm 5,48.738606,425.748869,691.379669,174.10126,5.927624,8.386701,253.149414,587.461209,226.977435,...,0.236128,0.232725,0.204508,0.131739,0.048703,0.243611,1.977732,2.495287,0.365455,1.133645
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
452,Firm 452,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
453,Firm 453,8.386235,-1.739109,-1.856683,-0.76595,-3.383745,1.694955,148.978198,253.854632,136.672432,...,0,0,0,0,0,0,0,0,0,0
454,Firm 454,2.000729,3.68701,32.552017,14.850354,15.241039,-0.973747,9.898097,21.950784,4.471228,...,0.124174,0.16722,0.606652,0.040353,0.441248,0.018731,2.615257,2.956422,0.728193,0.352309
455,Firm 455,0,4.549259,1.604993,9.103593,185.079296,0,39.530014,15.362991,45.619029,...,0,1.689138,0.89107,0.905046,0.892326,0,1.336544,0.793408,1.223609,4.331669
456,Firm 456,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [152]:
df_general = get_float_type(df_general)
df_underwriting = get_float_type(df_underwriting)

In [153]:
df_underwriting

,Firm name,Gross claims incurred (£m) - 2016YE,Gross claims incurred (£m) - 2017YE,Gross claims incurred (£m) - 2018YE,Gross claims incurred (£m) - 2019YE,Gross claims incurred (£m) - 2020YE,"Gross BEL (inc. TPs as whole, pre-TMTP) (£m) - 2016YE","Gross BEL (inc. TPs as whole, pre-TMTP) (£m) - 2017YE","Gross BEL (inc. TPs as whole, pre-TMTP) (£m) - 2018YE","Gross BEL (inc. TPs as whole, pre-TMTP) (£m) - 2019YE",...,Gross expense ratio - 2016YE,Gross expense ratio - 2017YE,Gross expense ratio - 2018YE,Gross expense ratio - 2019YE,Gross expense ratio - 2020YE,Gross combined ratio - 2016YE,Gross combined ratio - 2017YE,Gross combined ratio - 2018YE,Gross combined ratio - 2019YE,Gross combined ratio - 2020YE
1,Firm 1,0.000000,0.005515,0.000000,0.000000,0.000000,0.000000,0.588994,0.000000,0.000000,...,0.000000,77.251254,0.000000,0.000000,0.000000,0.000000,0.675051,0.000000,0.000000,0.000000
2,Firm 2,44.467865,29.489599,34.100482,0.000000,0.000000,221.327680,59.474691,266.118414,0.000000,...,0.391179,0.685941,1.433284,0.000000,0.000000,1.750946,1.321523,1.545325,0.000000,0.000000
3,Firm 3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,Firm 4,14.340938,71.062447,87.912471,42.280402,3.668494,-35.112768,7.848685,100.876270,167.959536,...,0.231139,0.285471,0.054150,0.051848,-0.162883,1.047234,0.476384,3.307379,1.247403,-2.303093
5,Firm 5,48.738606,425.748869,691.379669,174.101260,5.927624,8.386701,253.149414,587.461209,226.977435,...,0.236128,0.232725,0.204508,0.131739,0.048703,0.243611,1.977732,2.495287,0.365455,1.133645
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
452,Firm 452,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
453,Firm 453,8.386235,-1.739109,-1.856683,-0.765950,-3.383745,1.694955,148.978198,253.854632,136.672432,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
454,Firm 454,2.000729,3.687010,32.552017,14.850354,15.241039,-0.973747,9.898097,21.950784,4.471228,...,0.124174,0.167220,0.606652,0.040353,0.441248,0.018731,2.615257,2.956422,0.728193,0.352309
455,Firm 455,0.000000,4.549259,1.604993,9.103593,185.079296,0.000000,39.530014,15.362991,45.619029,...,0.000000,1.689138,0.891070,0.905046,0.892326,0.000000,1.336544,0.793408,1.223609,4.331669
456,Firm 456,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [154]:
df_general.describe()

,NWP (£m) - 2016YE,NWP (£m) - 2017YE,NWP (£m) - 2018YE,NWP (£m) - 2019YE,NWP (£m) - 2020YE,SCR (£m) - 2016YE,SCR (£m) - 2017YE,SCR (£m) - 2018YE,SCR (£m) - 2019YE,SCR (£m) - 2020YE,...,Total liabilities (£m) - 2016YE,Total liabilities (£m) - 2017YE,Total liabilities (£m) - 2018YE,Total liabilities (£m) - 2019YE,Total liabilities (£m) - 2020YE,Excess of assets over liabilities (£m) [= equity] - 2016YE,Excess of assets over liabilities (£m) [= equity] - 2017YE,Excess of assets over liabilities (£m) [= equity] - 2018YE,Excess of assets over liabilities (£m) [= equity] - 2019YE,Excess of assets over liabilities (£m) [= equity] - 2020YE
count,325.000000,325.000000,325.000000,325.000000,325.000000,325.000000,325.000000,325.000000,325.000000,325.000000,...,325.000000,325.000000,325.000000,325.000000,325.000000,325.000000,325.000000,325.000000,325.000000,325.000000
mean,748.880569,754.091828,734.934495,636.330391,784.543391,361.336627,413.190007,284.795475,324.383366,349.470447,...,6576.462638,5438.624586,7656.663354,8727.450683,7002.322188,614.180552,526.071949,514.909695,513.149901,527.223885
std,5366.722486,3415.153826,3212.938019,2566.231328,4644.720782,1556.589942,1685.711338,1066.707712,1713.126616,1734.578174,...,28267.145297,20821.947615,34275.770204,42795.227461,37277.137342,2524.700904,2164.292917,1873.369797,2073.626631,2195.091879
min,-17754.100486,-2061.021955,-368.818583,-184.091940,-2054.549430,0.000000,0.000000,0.000000,0.000000,0.000000,...,-550.975709,-253.333480,-1105.415326,-390.753415,-1487.107764,-64.385088,-123.609578,-51.170785,-72.050028,-118.101429
25%,0.000000,0.000000,0.000000,0.000000,0.000000,2.142746,1.460375,1.123171,0.607988,0.000000,...,3.905718,2.477845,1.555978,0.422378,0.000000,4.966108,4.974220,4.525329,3.445110,0.000000
50%,1.700359,7.342777,6.584417,3.789285,0.653909,17.065726,13.910251,13.218886,9.214331,6.067794,...,54.269003,60.199004,48.384770,37.903614,17.189096,32.592699,35.764684,31.086397,26.195596,21.015133
75%,71.613612,143.287239,118.621326,87.002848,58.911768,111.594347,93.416200,93.090938,81.242579,70.577824,...,728.356531,621.257597,595.396214,788.189192,384.093491,195.814060,171.006160,161.022557,183.951101,104.109107
max,75526.673293,41072.816156,41591.397560,25473.307182,60699.953265,18258.886129,17563.273844,10797.123319,22788.359468,18335.571950,...,244235.769420,167736.855249,362313.847205,471074.183201,494498.525611,24862.167211,26705.042053,16050.453131,25698.092464,24127.839035

In [155]:
df_underwriting.describe()

,Gross claims incurred (£m) - 2016YE,Gross claims incurred (£m) - 2017YE,Gross claims incurred (£m) - 2018YE,Gross claims incurred (£m) - 2019YE,Gross claims incurred (£m) - 2020YE,"Gross BEL (inc. TPs as whole, pre-TMTP) (£m) - 2016YE","Gross BEL (inc. TPs as whole, pre-TMTP) (£m) - 2017YE","Gross BEL (inc. TPs as whole, pre-TMTP) (£m) - 2018YE","Gross BEL (inc. TPs as whole, pre-TMTP) (£m) - 2019YE","Gross BEL (inc. TPs as whole, pre-TMTP) (£m) - 2020YE",...,Gross expense ratio - 2016YE,Gross expense ratio - 2017YE,Gross expense ratio - 2018YE,Gross expense ratio - 2019YE,Gross expense ratio - 2020YE,Gross combined ratio - 2016YE,Gross combined ratio - 2017YE,Gross combined ratio - 2018YE,Gross combined ratio - 2019YE,Gross combined ratio - 2020YE
count,456.000000,456.000000,456.000000,456.000000,456.000000,456.000000,456.000000,456.000000,456.000000,456.000000,...,456.000000,456.000000,456.000000,456.000000,456.000000,456.000000,456.000000,456.000000,4.560000e+02,456.000000
mean,113.799403,164.644001,142.886762,107.212587,113.379859,252.943681,302.961757,334.675249,273.546155,261.450764,...,-0.047332,-26.278279,14.437874,1241.807503,6.149997,0.768918,8.516436,35.984397,8.690197e+03,-12.059155
std,464.068423,534.736160,478.077421,306.113846,325.916879,898.477602,1129.994762,1268.745828,866.983047,795.946527,...,22.586744,765.485279,295.835366,26934.606109,74.244405,31.730483,175.460831,750.493801,1.863022e+05,585.063968
min,-74.422893,-189.936333,-28.867576,-56.723578,-49.154485,-167.815824,-56.661318,-156.503051,-63.159035,-146.208077,...,-180.695307,-16112.406623,-0.476109,-9671.516722,-1.014490,-540.896015,-2354.862219,-210.458456,-1.406448e+04,-12033.441216
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000
50%,0.301970,1.535052,2.699256,0.620408,0.163734,1.663638,7.352500,6.327933,5.086833,3.254502,...,0.008070,0.056674,0.098384,0.031295,0.017048,0.017881,0.188831,0.152646,1.000508e-01,0.036547
75%,48.797484,71.796462,86.746547,57.428646,64.283547,143.764583,146.007630,163.741777,133.188595,136.158546,...,0.322910,0.357971,0.385045,0.290778,0.351256,0.882550,1.088327,0.995781,8.729578e-01,0.981006
max,5619.611745,4801.320297,6844.014131,3223.760583,2730.730064,10234.892253,16074.419135,19292.066525,7394.536801,8618.241189,...,316.024679,2587.034477,6317.468135,575064.786983,1310.176452,297.648235,1577.909736,16023.609296,3.978266e+06,2442.469233