# Importing Libraries

In [1]:
import pandas as pd
import numpy as np

# Importing Datasets

In [146]:
df_general = pd.read_excel('(PRA)_(OFFG)_8350731_v_1_010242 - Analyst Data Science - Technical Assessment - Data.xlsx', sheet_name='Dataset 1 - General')
df_underwriting = pd.read_excel('(PRA)_(OFFG)_8350731_v_1_010242 - Analyst Data Science - Technical Assessment - Data.xlsx', sheet_name='Dataset 2 - Underwriting')

In [136]:
df_general

,Unnamed: 0,NWP (£m),NWP (£m) .1,NWP (£m) .2,NWP (£m) .3,NWP (£m) .4,SCR (£m),SCR (£m).1,SCR (£m).2,SCR (£m).3,...,Total liabilities (£m),Total liabilities (£m).1,Total liabilities (£m).2,Total liabilities (£m).3,Total liabilities (£m).4,Excess of assets over liabilities (£m) [= equity],Excess of assets over liabilities (£m) [= equity].1,Excess of assets over liabilities (£m) [= equity].2,Excess of assets over liabilities (£m) [= equity].3,Excess of assets over liabilities (£m) [= equity].4
0,NaN,2016YE,2017YE,2018YE,2019YE,2020YE,2016YE,2017YE,2018YE,2019YE,...,2016YE,2017YE,2018YE,2019YE,2020YE,2016YE,2017YE,2018YE,2019YE,2020YE
1,Firm 1,-17754.100486,0,0,0,0,2021.321862,0.0,0,0,...,40171.683156,0,0,0,0,1243.924991,4.398725,0,0,0
2,Firm 2,9.244369,0.098771,40.812426,35.643071,13.626145,16.459756,15.009073,14.227214,15.037066,...,7.970519,12.796789,11.332857,6.73019,16.173862,8.755261,48.425189,0.070823,43.36838,12.456319
3,Firm 3,0,0.80613,36.620199,86.630018,54.74418,486.887796,495.786299,626.612217,81.242579,...,68.000844,1592.310597,1005.328927,593.689101,374.712155,210.918808,100.776891,87.586067,922.487659,412.466207
4,Firm 4,19677.453353,41072.816156,20885.506445,14719.672914,49204.465136,15975.652771,15367.887099,10797.123319,22788.359468,...,48416.743356,30870.226541,68145.069079,92600.140108,92273.053968,24862.167211,7191.961836,12910.346383,12586.973993,24127.839035
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
321,Firm 321,0,0,-0.167178,-6.813367,31.258806,0,0.365214,70.399156,68.655722,...,0,0.005647,1776.379248,1843.139217,10455.584133,0,0.021877,23.475958,125.140116,60.013312
322,Firm 322,3315.466643,4136.476625,2192.750865,2252.917257,2780.628432,578.238997,1926.540266,1366.552217,849.073657,...,5978.084709,5250.432938,4906.432272,6204.396397,5566.091662,3860.015668,2114.645213,3198.394329,1029.870659,3640.241631
323,Firm 323,0,0,0,0,0,6.459131,28.03774,5.689804,1.674462,...,40.153398,33.497286,30.445115,17.823604,13.01995,73.65038,88.869984,92.834958,91.194544,2.725257
324,Firm 324,29.811172,21.003008,13.55174,6.145755,49.793157,45.967315,57.3232,36.91081,1.012305,...,253.309101,353.395687,273.73697,354.965671,298.298975,61.39788,63.08469,73.016922,11.684645,21.921881
325,Firm 325,108.471899,496.29603,437.217641,120.652291,0,402.002179,408.272986,477.423649,346.976664,...,673.343922,989.011927,1762.579368,1487.32319,0,183.26471,124.780162,632.096113,592.454455,0

In [137]:
df_underwriting.head(10)

,Unnamed: 0,Gross claims incurred (£m),Gross claims incurred (£m).1,Gross claims incurred (£m).2,Gross claims incurred (£m).3,Gross claims incurred (£m).4,"Gross BEL (inc. TPs as whole, pre-TMTP) (£m)","Gross BEL (inc. TPs as whole, pre-TMTP) (£m).1","Gross BEL (inc. TPs as whole, pre-TMTP) (£m).2","Gross BEL (inc. TPs as whole, pre-TMTP) (£m).3",...,Gross expense ratio,Gross expense ratio.1,Gross expense ratio.2,Gross expense ratio.3,Gross expense ratio.4,Gross combined ratio,Gross combined ratio.1,Gross combined ratio.2,Gross combined ratio.3,Gross combined ratio.4
0,NaN,2016YE,2017YE,2018YE,2019YE,2020YE,2016YE,2017YE,2018YE,2019YE,...,2016YE,2017YE,2018YE,2019YE,2020YE,2016YE,2017YE,2018YE,2019YE,2020YE
1,Firm 1,0,0.005515,0,0,0,0,0.588994,0,0,...,0,77.251254,0,0,0,0,0.675051,0,0,0
2,Firm 2,44.467865,29.489599,34.100482,0,0,221.32768,59.474691,266.118414,0,...,0.391179,0.685941,1.433284,0,0,1.750946,1.321523,1.545325,0,0
3,Firm 3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Firm 4,14.340938,71.062447,87.912471,42.280402,3.668494,-35.112768,7.848685,100.87627,167.959536,...,0.231139,0.285471,0.05415,0.051848,-0.162883,1.047234,0.476384,3.307379,1.247403,-2.303093
5,Firm 5,48.738606,425.748869,691.379669,174.10126,5.927624,8.386701,253.149414,587.461209,226.977435,...,0.236128,0.232725,0.204508,0.131739,0.048703,0.243611,1.977732,2.495287,0.365455,1.133645
6,Firm 6,125.076792,457.319722,364.148755,257.332452,268.527873,800.531844,554.61207,232.550208,187.213749,...,0.105267,0.451178,0.239576,0.261323,0.06571,0.650369,0.904271,0.147146,0.351034,0.68786
7,Firm 7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,Firm 8,0.107354,-0.027761,-0.177631,0,0,0.684128,1.118496,0.861629,1.247482,...,0.51999,0.283165,0.050566,0.464667,0,1.271792,0.125035,-0.013901,1.046206,0
9,Firm 9,213.496532,87.593124,193.063868,78.949374,0,567.216981,695.143727,835.779951,511.859035,...,0.703507,0.444564,0.594972,0.043628,0,1.413159,0.337763,1.530192,0.902398,0

# Preliminary Checking of data

In [138]:
# Checking basic info for each data
df_general.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 326 entries, 0 to 325
Data columns (total 41 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   Unnamed: 0                                           325 non-null    object
 1   NWP (£m)                                             326 non-null    object
 2   NWP (£m) .1                                          326 non-null    object
 3   NWP (£m) .2                                          326 non-null    object
 4   NWP (£m) .3                                          326 non-null    object
 5   NWP (£m) .4                                          326 non-null    object
 6   SCR (£m)                                             326 non-null    object
 7   SCR (£m).1                                           326 non-null    object
 8   SCR (£m).2                                           326 non-null    object
 9   SCR (£m).3                                           326 non-null    object
 10  SCR (£m).4                                           326 non-null    object
 11  EoF for SCR (£m)                                     326 non-null    object
 12  EoF for SCR (£m).1                                   326 non-null    object
 13  EoF for SCR (£m).2                                   326 non-null    object
 14  EoF for SCR (£m).3                                   326 non-null    object
 15  EoF for SCR (£m).4                                   326 non-null    object
 16  SCR coverage ratio                                   326 non-null    object
 17  SCR coverage ratio.1                                 326 non-null    object
 18  SCR coverage ratio.2                                 326 non-null    object
 19  SCR coverage ratio.3                                 326 non-null    object
 20  SCR coverage ratio.4                                 326 non-null    object
 21  GWP (£m)                                             326 non-null    object
 22  GWP (£m).1                                           326 non-null    object
 23  GWP (£m).2                                           326 non-null    object
 24  GWP (£m).3                                           326 non-null    object
 25  GWP (£m).4                                           326 non-null    object
 26  Total assets (£m)                                    326 non-null    object
 27  Total assets (£m).1                                  326 non-null    object
 28  Total assets (£m).2                                  326 non-null    object
 29  Total assets (£m).3                                  326 non-null    object
 30  Total assets (£m).4                                  326 non-null    object
 31  Total liabilities (£m)                               326 non-null    object
 32  Total liabilities (£m).1                             326 non-null    object
 33  Total liabilities (£m).2                             326 non-null    object
 34  Total liabilities (£m).3                             326 non-null    object
 35  Total liabilities (£m).4                             326 non-null    object
 36  Excess of assets over liabilities (£m) [= equity]    326 non-null    object
 37  Excess of assets over liabilities (£m) [= equity].1  326 non-null    object
 38  Excess of assets over liabilities (£m) [= equity].2  326 non-null    object
 39  Excess of assets over liabilities (£m) [= equity].3  326 non-null    object
 40  Excess of assets over liabilities (£m) [= equity].4  326 non-null    object
dtypes: object(41)
memory usage: 104.5+ KB

In [139]:
# Checking basic info for each data
df_underwriting.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 457 entries, 0 to 456
Data columns (total 46 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Unnamed: 0                                      456 non-null    object
 1   Gross claims incurred (£m)                      457 non-null    object
 2   Gross claims incurred (£m).1                    457 non-null    object
 3   Gross claims incurred (£m).2                    457 non-null    object
 4   Gross claims incurred (£m).3                    457 non-null    object
 5   Gross claims incurred (£m).4                    457 non-null    object
 6   Gross BEL (inc. TPs as whole, pre-TMTP) (£m)    457 non-null    object
 7   Gross BEL (inc. TPs as whole, pre-TMTP) (£m).1  457 non-null    object
 8   Gross BEL (inc. TPs as whole, pre-TMTP) (£m).2  457 non-null    object
 9   Gross BEL (inc. TPs as whole, pre-TMTP) (£m).3  457 non-null    object
 10  Gross BEL (inc. TPs as whole, pre-TMTP) (£m).4  457 non-null    object
 11  Net BEL (inc. TPs as a whole, pre-TMTP) (£m)    457 non-null    object
 12  Net BEL (inc. TPs as a whole, pre-TMTP) (£m).1  457 non-null    object
 13  Net BEL (inc. TPs as a whole, pre-TMTP) (£m).2  457 non-null    object
 14  Net BEL (inc. TPs as a whole, pre-TMTP) (£m).3  457 non-null    object
 15  Net BEL (inc. TPs as a whole, pre-TMTP) (£m).4  457 non-null    object
 16  Pure net claims ratio                           457 non-null    object
 17  Pure net claims ratio.1                         457 non-null    object
 18  Pure net claims ratio.2                         457 non-null    object
 19  Pure net claims ratio.3                         457 non-null    object
 20  Pure net claims ratio.4                         457 non-null    object
 21  Net expense ratio                               457 non-null    object
 22  Net expense ratio.1                             457 non-null    object
 23  Net expense ratio.2                             457 non-null    object
 24  Net expense ratio.3                             457 non-null    object
 25  Net expense ratio.4                             457 non-null    object
 26  Net combined ratio                              457 non-null    object
 27  Net combined ratio.1                            457 non-null    object
 28  Net combined ratio.2                            457 non-null    object
 29  Net combined ratio.3                            457 non-null    object
 30  Net combined ratio.4                            457 non-null    object
 31  Pure gross claims ratio                         457 non-null    object
 32  Pure gross claims ratio.1                       457 non-null    object
 33  Pure gross claims ratio.2                       457 non-null    object
 34  Pure gross claims ratio.3                       457 non-null    object
 35  Pure gross claims ratio.4                       457 non-null    object
 36  Gross expense ratio                             457 non-null    object
 37  Gross expense ratio.1                           457 non-null    object
 38  Gross expense ratio.2                           457 non-null    object
 39  Gross expense ratio.3                           457 non-null    object
 40  Gross expense ratio.4                           457 non-null    object
 41  Gross combined ratio                            457 non-null    object
 42  Gross combined ratio.1                          457 non-null    object
 43  Gross combined ratio.2                          457 non-null    object
 44  Gross combined ratio.3                          457 non-null    object
 45  Gross combined ratio.4                          457 non-null    object
dtypes: object(46)
memory usage: 164.4+ KB

In [7]:
# Calculating total null values
df_general.isna().sum()

Unnamed: 0                                             1
NWP (£m)                                               0
NWP (£m) .1                                            0
NWP (£m) .2                                            0
NWP (£m) .3                                            0
NWP (£m) .4                                            0
SCR (£m)                                               0
SCR (£m).1                                             0
SCR (£m).2                                             0
SCR (£m).3                                             0
SCR (£m).4                                             0
EoF for SCR (£m)                                       0
EoF for SCR (£m).1                                     0
EoF for SCR (£m).2                                     0
EoF for SCR (£m).3                                     0
EoF for SCR (£m).4                                     0
SCR coverage ratio                                     0
SCR coverage ratio.1                                   0
SCR coverage ratio.2                                   0
SCR coverage ratio.3                                   0
SCR coverage ratio.4                                   0
GWP (£m)                                               0
GWP (£m).1                                             0
GWP (£m).2                                             0
GWP (£m).3                                             0
GWP (£m).4                                             0
Total assets (£m)                                      0
Total assets (£m).1                                    0
Total assets (£m).2                                    0
Total assets (£m).3                                    0
Total assets (£m).4                                    0
Total liabilities (£m)                                 0
Total liabilities (£m).1                               0
Total liabilities (£m).2                               0
Total liabilities (£m).3                               0
Total liabilities (£m).4                               0
Excess of assets over liabilities (£m) [= equity]      0
Excess of assets over liabilities (£m) [= equity].1    0
Excess of assets over liabilities (£m) [= equity].2    0
Excess of assets over liabilities (£m) [= equity].3    0
Excess of assets over liabilities (£m) [= equity].4    0
dtype: int64

In [8]:
# Calculating total null values
df_underwriting.isna().sum()

Unnamed: 0                                        1
Gross claims incurred (£m)                        0
Gross claims incurred (£m).1                      0
Gross claims incurred (£m).2                      0
Gross claims incurred (£m).3                      0
Gross claims incurred (£m).4                      0
Gross BEL (inc. TPs as whole, pre-TMTP) (£m)      0
Gross BEL (inc. TPs as whole, pre-TMTP) (£m).1    0
Gross BEL (inc. TPs as whole, pre-TMTP) (£m).2    0
Gross BEL (inc. TPs as whole, pre-TMTP) (£m).3    0
Gross BEL (inc. TPs as whole, pre-TMTP) (£m).4    0
Net BEL (inc. TPs as a whole, pre-TMTP) (£m)      0
Net BEL (inc. TPs as a whole, pre-TMTP) (£m).1    0
Net BEL (inc. TPs as a whole, pre-TMTP) (£m).2    0
Net BEL (inc. TPs as a whole, pre-TMTP) (£m).3    0
Net BEL (inc. TPs as a whole, pre-TMTP) (£m).4    0
Pure net claims ratio                             0
Pure net claims ratio.1                           0
Pure net claims ratio.2                           0
Pure net claims ratio.3                           0
Pure net claims ratio.4                           0
Net expense ratio                                 0
Net expense ratio.1                               0
Net expense ratio.2                               0
Net expense ratio.3                               0
Net expense ratio.4                               0
Net combined ratio                                0
Net combined ratio.1                              0
Net combined ratio.2                              0
Net combined ratio.3                              0
Net combined ratio.4                              0
Pure gross claims ratio                           0
Pure gross claims ratio.1                         0
Pure gross claims ratio.2                         0
Pure gross claims ratio.3                         0
Pure gross claims ratio.4                         0
Gross expense ratio                               0
Gross expense ratio.1                             0
Gross expense ratio.2                             0
Gross expense ratio.3                             0
Gross expense ratio.4                             0
Gross combined ratio                              0
Gross combined ratio.1                            0
Gross combined ratio.2                            0
Gross combined ratio.3                            0
Gross combined ratio.4                            0
dtype: int64

#### 1. From Initial look it seems datatype is object that should be converted to float or int for further analysis, 
#### 2. Also column name should be changed so that row 1 (containing financial year) can be replaced by metrics

In [14]:
df_general.columns

Index(['Unnamed: 0', 'NWP (£m) ', 'NWP (£m) .1', 'NWP (£m) .2', 'NWP (£m) .3',
       'NWP (£m) .4', 'SCR (£m)', 'SCR (£m).1', 'SCR (£m).2', 'SCR (£m).3',
       'SCR (£m).4', 'EoF for SCR (£m)', 'EoF for SCR (£m).1',
       'EoF for SCR (£m).2', 'EoF for SCR (£m).3', 'EoF for SCR (£m).4',
       'SCR coverage ratio', 'SCR coverage ratio.1', 'SCR coverage ratio.2',
       'SCR coverage ratio.3', 'SCR coverage ratio.4', 'GWP (£m)',
       'GWP (£m).1', 'GWP (£m).2', 'GWP (£m).3', 'GWP (£m).4',
       'Total assets (£m)', 'Total assets (£m).1', 'Total assets (£m).2',
       'Total assets (£m).3', 'Total assets (£m).4', 'Total liabilities (£m)',
       'Total liabilities (£m).1', 'Total liabilities (£m).2',
       'Total liabilities (£m).3', 'Total liabilities (£m).4',
       'Excess of assets over liabilities (£m) [= equity]',
       'Excess of assets over liabilities (£m) [= equity].1',
       'Excess of assets over liabilities (£m) [= equity].2',
       'Excess of assets over liabilities (£m) [= equity].3',
       'Excess of assets over liabilities (£m) [= equity].4'],
      dtype='object')

In [147]:
df_general = df_general.rename(columns={'Unnamed: 0': 'Firm name'})
df_underwriting = df_underwriting.rename(columns={'Unnamed: 0': 'Firm name'})

In [127]:
df_underwriting.head()

,Firm name,Gross claims incurred (£m),Gross claims incurred (£m).1,Gross claims incurred (£m).2,Gross claims incurred (£m).3,Gross claims incurred (£m).4,"Gross BEL (inc. TPs as whole, pre-TMTP) (£m)","Gross BEL (inc. TPs as whole, pre-TMTP) (£m).1","Gross BEL (inc. TPs as whole, pre-TMTP) (£m).2","Gross BEL (inc. TPs as whole, pre-TMTP) (£m).3",...,Gross expense ratio,Gross expense ratio.1,Gross expense ratio.2,Gross expense ratio.3,Gross expense ratio.4,Gross combined ratio,Gross combined ratio.1,Gross combined ratio.2,Gross combined ratio.3,Gross combined ratio.4
0,NaN,2016YE,2017YE,2018YE,2019YE,2020YE,2016YE,2017YE,2018YE,2019YE,...,2016YE,2017YE,2018YE,2019YE,2020YE,2016YE,2017YE,2018YE,2019YE,2020YE
1,Firm 1,0,0.005515,0,0,0,0,0.588994,0,0,...,0,77.251254,0,0,0,0,0.675051,0,0,0
2,Firm 2,44.467865,29.489599,34.100482,0,0,221.32768,59.474691,266.118414,0,...,0.391179,0.685941,1.433284,0,0,1.750946,1.321523,1.545325,0,0
3,Firm 3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Firm 4,14.340938,71.062447,87.912471,42.280402,3.668494,-35.112768,7.848685,100.87627,167.959536,...,0.231139,0.285471,0.05415,0.051848,-0.162883,1.047234,0.476384,3.307379,1.247403,-2.303093

In [95]:
# Applying the conversion function to each cell (excluding the first row and first column)
df_general.iloc[1:, 1:] = df_general.iloc[1:, 1:].applymap(lambda x: float(x) if pd.notnull(x) else x)

In [96]:
df_underwriting.iloc[1:, 1:] = df_underwriting.iloc[1:, 1:].applymap(lambda x: float(x) if pd.notnull(x) else x)

In [46]:
df_underwriting.iloc[1:, 1:].describe()

,Gross claims incurred (£m),Gross claims incurred (£m).1,Gross claims incurred (£m).2,Gross claims incurred (£m).3,Gross claims incurred (£m).4,"Gross BEL (inc. TPs as whole, pre-TMTP) (£m)","Gross BEL (inc. TPs as whole, pre-TMTP) (£m).1","Gross BEL (inc. TPs as whole, pre-TMTP) (£m).2","Gross BEL (inc. TPs as whole, pre-TMTP) (£m).3","Gross BEL (inc. TPs as whole, pre-TMTP) (£m).4",...,Gross expense ratio,Gross expense ratio.1,Gross expense ratio.2,Gross expense ratio.3,Gross expense ratio.4,Gross combined ratio,Gross combined ratio.1,Gross combined ratio.2,Gross combined ratio.3,Gross combined ratio.4
count,456.0,456.0,456.0,456.0,456.0,456.0,456.0,456.0,456.0,456.0,...,456.0,456.0,456.0,456.0,456.0,456.0,456.0,456.0,456.0,456.0
unique,279.0,301.0,294.0,279.0,269.0,284.0,305.0,300.0,288.0,277.0,...,243.0,269.0,264.0,251.0,243.0,244.0,270.0,264.0,251.0,243.0
top,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
freq,178.0,156.0,163.0,178.0,188.0,173.0,152.0,157.0,169.0,180.0,...,214.0,188.0,193.0,206.0,214.0,213.0,187.0,193.0,206.0,214.0

In [78]:
existing_column_names

['Firms',
 'Gross claims incurred (£m)',
 'Gross claims incurred (£m)',
 'Gross claims incurred (£m)',
 'Gross claims incurred (£m)',
 'Gross claims incurred (£m)',
 'Gross BEL (inc. TPs as whole, pre-TMTP) (£m)',
 'Gross BEL (inc. TPs as whole, pre-TMTP) (£m)',
 'Gross BEL (inc. TPs as whole, pre-TMTP) (£m)',
 'Gross BEL (inc. TPs as whole, pre-TMTP) (£m)',
 'Gross BEL (inc. TPs as whole, pre-TMTP) (£m)',
 'Net BEL (inc. TPs as a whole, pre-TMTP) (£m)',
 'Net BEL (inc. TPs as a whole, pre-TMTP) (£m)',
 'Net BEL (inc. TPs as a whole, pre-TMTP) (£m)',
 'Net BEL (inc. TPs as a whole, pre-TMTP) (£m)',
 'Net BEL (inc. TPs as a whole, pre-TMTP) (£m)',
 'Pure net claims ratio',
 'Pure net claims ratio',
 'Pure net claims ratio',
 'Pure net claims ratio',
 'Pure net claims ratio',
 'Net expense ratio',
 'Net expense ratio',
 'Net expense ratio',
 'Net expense ratio',
 'Net expense ratio',
 'Net combined ratio',
 'Net combined ratio',
 'Net combined ratio',
 'Net combined ratio',
 'Net combined ratio',
 'Pure gross claims ratio',
 'Pure gross claims ratio',
 'Pure gross claims ratio',
 'Pure gross claims ratio',
 'Pure gross claims ratio',
 'Gross expense ratio',
 'Gross expense ratio',
 'Gross expense ratio',
 'Gross expense ratio',
 'Gross expense ratio',
 'Gross combined ratio',
 'Gross combined ratio',
 'Gross combined ratio',
 'Gross combined ratio',
 'Gross combined ratio']

In [128]:
df_underwriting

,Firm name,Gross claims incurred (£m),Gross claims incurred (£m).1,Gross claims incurred (£m).2,Gross claims incurred (£m).3,Gross claims incurred (£m).4,"Gross BEL (inc. TPs as whole, pre-TMTP) (£m)","Gross BEL (inc. TPs as whole, pre-TMTP) (£m).1","Gross BEL (inc. TPs as whole, pre-TMTP) (£m).2","Gross BEL (inc. TPs as whole, pre-TMTP) (£m).3",...,Gross expense ratio,Gross expense ratio.1,Gross expense ratio.2,Gross expense ratio.3,Gross expense ratio.4,Gross combined ratio,Gross combined ratio.1,Gross combined ratio.2,Gross combined ratio.3,Gross combined ratio.4
0,NaN,2016YE,2017YE,2018YE,2019YE,2020YE,2016YE,2017YE,2018YE,2019YE,...,2016YE,2017YE,2018YE,2019YE,2020YE,2016YE,2017YE,2018YE,2019YE,2020YE
1,Firm 1,0,0.005515,0,0,0,0,0.588994,0,0,...,0,77.251254,0,0,0,0,0.675051,0,0,0
2,Firm 2,44.467865,29.489599,34.100482,0,0,221.32768,59.474691,266.118414,0,...,0.391179,0.685941,1.433284,0,0,1.750946,1.321523,1.545325,0,0
3,Firm 3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Firm 4,14.340938,71.062447,87.912471,42.280402,3.668494,-35.112768,7.848685,100.87627,167.959536,...,0.231139,0.285471,0.05415,0.051848,-0.162883,1.047234,0.476384,3.307379,1.247403,-2.303093
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
452,Firm 452,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
453,Firm 453,8.386235,-1.739109,-1.856683,-0.76595,-3.383745,1.694955,148.978198,253.854632,136.672432,...,0,0,0,0,0,0,0,0,0,0
454,Firm 454,2.000729,3.68701,32.552017,14.850354,15.241039,-0.973747,9.898097,21.950784,4.471228,...,0.124174,0.16722,0.606652,0.040353,0.441248,0.018731,2.615257,2.956422,0.728193,0.352309
455,Firm 455,0,4.549259,1.604993,9.103593,185.079296,0,39.530014,15.362991,45.619029,...,0,1.689138,0.89107,0.905046,0.892326,0,1.336544,0.793408,1.223609,4.331669
456,Firm 456,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [148]:
def get_new_column_names(df):
    '''
    Input - DataFrame
    Output - DataFrame
    '''
    # Get the values from the first row as a list
    first_row_values = df.iloc[0].tolist()

    # Extract the existing column names
    existing_column_names = df.columns.tolist()
    existing_column_names = [col.rstrip('.1234567890') for col in existing_column_names]

    # Concatenate the first row values with the existing column names
    new_column_names = [f"{col} - {val}" for col, val in zip(existing_column_names, first_row_values)]

    # Rename the columns of the DataFrame with the new column names
    df.columns = new_column_names
    
    df = df.rename(columns={'Firm name - nan': 'Firm name'})
    
    # Dropping first row
    df = df.drop(0)
    
    return df

In [149]:
def get_float_type(df):
    
    df_metrics = df.drop(['Firm name'], axis=1)
    
    df_metrics = df_metrics.applymap(lambda x: float(x) if pd.notnull(x) else x)
    
    df = pd.concat([df['Firm name'], df_metrics], axis=1)
    
    return df

In [150]:
df_general = get_new_column_names(df_general)
df_underwriting = get_new_column_names(df_underwriting)

In [151]:
df_underwriting

,Firm name,Gross claims incurred (£m) - 2016YE,Gross claims incurred (£m) - 2017YE,Gross claims incurred (£m) - 2018YE,Gross claims incurred (£m) - 2019YE,Gross claims incurred (£m) - 2020YE,"Gross BEL (inc. TPs as whole, pre-TMTP) (£m) - 2016YE","Gross BEL (inc. TPs as whole, pre-TMTP) (£m) - 2017YE","Gross BEL (inc. TPs as whole, pre-TMTP) (£m) - 2018YE","Gross BEL (inc. TPs as whole, pre-TMTP) (£m) - 2019YE",...,Gross expense ratio - 2016YE,Gross expense ratio - 2017YE,Gross expense ratio - 2018YE,Gross expense ratio - 2019YE,Gross expense ratio - 2020YE,Gross combined ratio - 2016YE,Gross combined ratio - 2017YE,Gross combined ratio - 2018YE,Gross combined ratio - 2019YE,Gross combined ratio - 2020YE
1,Firm 1,0,0.005515,0,0,0,0,0.588994,0,0,...,0,77.251254,0,0,0,0,0.675051,0,0,0
2,Firm 2,44.467865,29.489599,34.100482,0,0,221.32768,59.474691,266.118414,0,...,0.391179,0.685941,1.433284,0,0,1.750946,1.321523,1.545325,0,0
3,Firm 3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Firm 4,14.340938,71.062447,87.912471,42.280402,3.668494,-35.112768,7.848685,100.87627,167.959536,...,0.231139,0.285471,0.05415,0.051848,-0.162883,1.047234,0.476384,3.307379,1.247403,-2.303093
5,Firm 5,48.738606,425.748869,691.379669,174.10126,5.927624,8.386701,253.149414,587.461209,226.977435,...,0.236128,0.232725,0.204508,0.131739,0.048703,0.243611,1.977732,2.495287,0.365455,1.133645
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
452,Firm 452,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
453,Firm 453,8.386235,-1.739109,-1.856683,-0.76595,-3.383745,1.694955,148.978198,253.854632,136.672432,...,0,0,0,0,0,0,0,0,0,0
454,Firm 454,2.000729,3.68701,32.552017,14.850354,15.241039,-0.973747,9.898097,21.950784,4.471228,...,0.124174,0.16722,0.606652,0.040353,0.441248,0.018731,2.615257,2.956422,0.728193,0.352309
455,Firm 455,0,4.549259,1.604993,9.103593,185.079296,0,39.530014,15.362991,45.619029,...,0,1.689138,0.89107,0.905046,0.892326,0,1.336544,0.793408,1.223609,4.331669
456,Firm 456,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [152]:
df_general = get_float_type(df_general)
df_underwriting = get_float_type(df_underwriting)

In [153]:
df_underwriting

,Firm name,Gross claims incurred (£m) - 2016YE,Gross claims incurred (£m) - 2017YE,Gross claims incurred (£m) - 2018YE,Gross claims incurred (£m) - 2019YE,Gross claims incurred (£m) - 2020YE,"Gross BEL (inc. TPs as whole, pre-TMTP) (£m) - 2016YE","Gross BEL (inc. TPs as whole, pre-TMTP) (£m) - 2017YE","Gross BEL (inc. TPs as whole, pre-TMTP) (£m) - 2018YE","Gross BEL (inc. TPs as whole, pre-TMTP) (£m) - 2019YE",...,Gross expense ratio - 2016YE,Gross expense ratio - 2017YE,Gross expense ratio - 2018YE,Gross expense ratio - 2019YE,Gross expense ratio - 2020YE,Gross combined ratio - 2016YE,Gross combined ratio - 2017YE,Gross combined ratio - 2018YE,Gross combined ratio - 2019YE,Gross combined ratio - 2020YE
1,Firm 1,0.000000,0.005515,0.000000,0.000000,0.000000,0.000000,0.588994,0.000000,0.000000,...,0.000000,77.251254,0.000000,0.000000,0.000000,0.000000,0.675051,0.000000,0.000000,0.000000
2,Firm 2,44.467865,29.489599,34.100482,0.000000,0.000000,221.327680,59.474691,266.118414,0.000000,...,0.391179,0.685941,1.433284,0.000000,0.000000,1.750946,1.321523,1.545325,0.000000,0.000000
3,Firm 3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,Firm 4,14.340938,71.062447,87.912471,42.280402,3.668494,-35.112768,7.848685,100.876270,167.959536,...,0.231139,0.285471,0.054150,0.051848,-0.162883,1.047234,0.476384,3.307379,1.247403,-2.303093
5,Firm 5,48.738606,425.748869,691.379669,174.101260,5.927624,8.386701,253.149414,587.461209,226.977435,...,0.236128,0.232725,0.204508,0.131739,0.048703,0.243611,1.977732,2.495287,0.365455,1.133645
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
452,Firm 452,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
453,Firm 453,8.386235,-1.739109,-1.856683,-0.765950,-3.383745,1.694955,148.978198,253.854632,136.672432,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
454,Firm 454,2.000729,3.687010,32.552017,14.850354,15.241039,-0.973747,9.898097,21.950784,4.471228,...,0.124174,0.167220,0.606652,0.040353,0.441248,0.018731,2.615257,2.956422,0.728193,0.352309
455,Firm 455,0.000000,4.549259,1.604993,9.103593,185.079296,0.000000,39.530014,15.362991,45.619029,...,0.000000,1.689138,0.891070,0.905046,0.892326,0.000000,1.336544,0.793408,1.223609,4.331669
456,Firm 456,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [154]:
df_general.describe()

,NWP (£m) - 2016YE,NWP (£m) - 2017YE,NWP (£m) - 2018YE,NWP (£m) - 2019YE,NWP (£m) - 2020YE,SCR (£m) - 2016YE,SCR (£m) - 2017YE,SCR (£m) - 2018YE,SCR (£m) - 2019YE,SCR (£m) - 2020YE,...,Total liabilities (£m) - 2016YE,Total liabilities (£m) - 2017YE,Total liabilities (£m) - 2018YE,Total liabilities (£m) - 2019YE,Total liabilities (£m) - 2020YE,Excess of assets over liabilities (£m) [= equity] - 2016YE,Excess of assets over liabilities (£m) [= equity] - 2017YE,Excess of assets over liabilities (£m) [= equity] - 2018YE,Excess of assets over liabilities (£m) [= equity] - 2019YE,Excess of assets over liabilities (£m) [= equity] - 2020YE
count,325.000000,325.000000,325.000000,325.000000,325.000000,325.000000,325.000000,325.000000,325.000000,325.000000,...,325.000000,325.000000,325.000000,325.000000,325.000000,325.000000,325.000000,325.000000,325.000000,325.000000
mean,748.880569,754.091828,734.934495,636.330391,784.543391,361.336627,413.190007,284.795475,324.383366,349.470447,...,6576.462638,5438.624586,7656.663354,8727.450683,7002.322188,614.180552,526.071949,514.909695,513.149901,527.223885
std,5366.722486,3415.153826,3212.938019,2566.231328,4644.720782,1556.589942,1685.711338,1066.707712,1713.126616,1734.578174,...,28267.145297,20821.947615,34275.770204,42795.227461,37277.137342,2524.700904,2164.292917,1873.369797,2073.626631,2195.091879
min,-17754.100486,-2061.021955,-368.818583,-184.091940,-2054.549430,0.000000,0.000000,0.000000,0.000000,0.000000,...,-550.975709,-253.333480,-1105.415326,-390.753415,-1487.107764,-64.385088,-123.609578,-51.170785,-72.050028,-118.101429
25%,0.000000,0.000000,0.000000,0.000000,0.000000,2.142746,1.460375,1.123171,0.607988,0.000000,...,3.905718,2.477845,1.555978,0.422378,0.000000,4.966108,4.974220,4.525329,3.445110,0.000000
50%,1.700359,7.342777,6.584417,3.789285,0.653909,17.065726,13.910251,13.218886,9.214331,6.067794,...,54.269003,60.199004,48.384770,37.903614,17.189096,32.592699,35.764684,31.086397,26.195596,21.015133
75%,71.613612,143.287239,118.621326,87.002848,58.911768,111.594347,93.416200,93.090938,81.242579,70.577824,...,728.356531,621.257597,595.396214,788.189192,384.093491,195.814060,171.006160,161.022557,183.951101,104.109107
max,75526.673293,41072.816156,41591.397560,25473.307182,60699.953265,18258.886129,17563.273844,10797.123319,22788.359468,18335.571950,...,244235.769420,167736.855249,362313.847205,471074.183201,494498.525611,24862.167211,26705.042053,16050.453131,25698.092464,24127.839035

In [155]:
df_underwriting.describe()

,Gross claims incurred (£m) - 2016YE,Gross claims incurred (£m) - 2017YE,Gross claims incurred (£m) - 2018YE,Gross claims incurred (£m) - 2019YE,Gross claims incurred (£m) - 2020YE,"Gross BEL (inc. TPs as whole, pre-TMTP) (£m) - 2016YE","Gross BEL (inc. TPs as whole, pre-TMTP) (£m) - 2017YE","Gross BEL (inc. TPs as whole, pre-TMTP) (£m) - 2018YE","Gross BEL (inc. TPs as whole, pre-TMTP) (£m) - 2019YE","Gross BEL (inc. TPs as whole, pre-TMTP) (£m) - 2020YE",...,Gross expense ratio - 2016YE,Gross expense ratio - 2017YE,Gross expense ratio - 2018YE,Gross expense ratio - 2019YE,Gross expense ratio - 2020YE,Gross combined ratio - 2016YE,Gross combined ratio - 2017YE,Gross combined ratio - 2018YE,Gross combined ratio - 2019YE,Gross combined ratio - 2020YE
count,456.000000,456.000000,456.000000,456.000000,456.000000,456.000000,456.000000,456.000000,456.000000,456.000000,...,456.000000,456.000000,456.000000,456.000000,456.000000,456.000000,456.000000,456.000000,4.560000e+02,456.000000
mean,113.799403,164.644001,142.886762,107.212587,113.379859,252.943681,302.961757,334.675249,273.546155,261.450764,...,-0.047332,-26.278279,14.437874,1241.807503,6.149997,0.768918,8.516436,35.984397,8.690197e+03,-12.059155
std,464.068423,534.736160,478.077421,306.113846,325.916879,898.477602,1129.994762,1268.745828,866.983047,795.946527,...,22.586744,765.485279,295.835366,26934.606109,74.244405,31.730483,175.460831,750.493801,1.863022e+05,585.063968
min,-74.422893,-189.936333,-28.867576,-56.723578,-49.154485,-167.815824,-56.661318,-156.503051,-63.159035,-146.208077,...,-180.695307,-16112.406623,-0.476109,-9671.516722,-1.014490,-540.896015,-2354.862219,-210.458456,-1.406448e+04,-12033.441216
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000
50%,0.301970,1.535052,2.699256,0.620408,0.163734,1.663638,7.352500,6.327933,5.086833,3.254502,...,0.008070,0.056674,0.098384,0.031295,0.017048,0.017881,0.188831,0.152646,1.000508e-01,0.036547
75%,48.797484,71.796462,86.746547,57.428646,64.283547,143.764583,146.007630,163.741777,133.188595,136.158546,...,0.322910,0.357971,0.385045,0.290778,0.351256,0.882550,1.088327,0.995781,8.729578e-01,0.981006
max,5619.611745,4801.320297,6844.014131,3223.760583,2730.730064,10234.892253,16074.419135,19292.066525,7394.536801,8618.241189,...,316.024679,2587.034477,6317.468135,575064.786983,1310.176452,297.648235,1577.909736,16023.609296,3.978266e+06,2442.469233

### Though we did try to describe the given data but we need to remember that data is not cleaned yet and will need to handle missing values to calculate correct mean, std and other metrics

In [161]:
#  Function to replace values if we get correct values of a firm in the future

def replace_values():
    
    pass

### Removing firms with no data (similar to handling Nan values)

In [192]:
temp = (df_general.drop(['Firm name'], axis=True) == 0).all(axis=1)

In [196]:
df_general[temp]

,Firm name,NWP (£m) - 2016YE,NWP (£m) - 2017YE,NWP (£m) - 2018YE,NWP (£m) - 2019YE,NWP (£m) - 2020YE,SCR (£m) - 2016YE,SCR (£m) - 2017YE,SCR (£m) - 2018YE,SCR (£m) - 2019YE,...,Total liabilities (£m) - 2016YE,Total liabilities (£m) - 2017YE,Total liabilities (£m) - 2018YE,Total liabilities (£m) - 2019YE,Total liabilities (£m) - 2020YE,Excess of assets over liabilities (£m) [= equity] - 2016YE,Excess of assets over liabilities (£m) [= equity] - 2017YE,Excess of assets over liabilities (£m) [= equity] - 2018YE,Excess of assets over liabilities (£m) [= equity] - 2019YE,Excess of assets over liabilities (£m) [= equity] - 2020YE
8,Firm 8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,Firm 11,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
29,Firm 29,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
50,Firm 50,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
65,Firm 65,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
68,Firm 68,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
112,Firm 112,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
116,Firm 116,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
119,Firm 119,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
128,Firm 128,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
162,Firm 162,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
176,Firm 176,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
198,Firm 198,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
206,Firm 206,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
251,Firm 251,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
257,Firm 257,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
259,Firm 259,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
261,Firm 261,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
310,Firm 310,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [197]:
final_df_general = df_general[~temp]
final_df_general

,Firm name,NWP (£m) - 2016YE,NWP (£m) - 2017YE,NWP (£m) - 2018YE,NWP (£m) - 2019YE,NWP (£m) - 2020YE,SCR (£m) - 2016YE,SCR (£m) - 2017YE,SCR (£m) - 2018YE,SCR (£m) - 2019YE,...,Total liabilities (£m) - 2016YE,Total liabilities (£m) - 2017YE,Total liabilities (£m) - 2018YE,Total liabilities (£m) - 2019YE,Total liabilities (£m) - 2020YE,Excess of assets over liabilities (£m) [= equity] - 2016YE,Excess of assets over liabilities (£m) [= equity] - 2017YE,Excess of assets over liabilities (£m) [= equity] - 2018YE,Excess of assets over liabilities (£m) [= equity] - 2019YE,Excess of assets over liabilities (£m) [= equity] - 2020YE
1,Firm 1,-17754.100486,0.000000,0.000000,0.000000,0.000000,2021.321862,6.940043e-09,0.000000,0.000000,...,40171.683156,0.000000,0.000000,0.000000,0.000000,1243.924991,4.398725,0.000000,0.000000,0.000000
2,Firm 2,9.244369,0.098771,40.812426,35.643071,13.626145,16.459756,1.500907e+01,14.227214,15.037066,...,7.970519,12.796789,11.332857,6.730190,16.173862,8.755261,48.425189,0.070823,43.368380,12.456319
3,Firm 3,0.000000,0.806130,36.620199,86.630018,54.744180,486.887796,4.957863e+02,626.612217,81.242579,...,68.000844,1592.310597,1005.328927,593.689101,374.712155,210.918808,100.776891,87.586067,922.487659,412.466207
4,Firm 4,19677.453353,41072.816156,20885.506445,14719.672914,49204.465136,15975.652771,1.536789e+04,10797.123319,22788.359468,...,48416.743356,30870.226541,68145.069079,92600.140108,92273.053968,24862.167211,7191.961836,12910.346383,12586.973993,24127.839035
5,Firm 5,128.812208,10.407371,79.579663,79.423623,61.727295,32.742279,4.395404e+01,31.622572,30.119285,...,267.458967,22.979292,69.343245,16.837470,106.179543,262.683530,7.592281,96.945192,104.609768,103.180972
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
321,Firm 321,0.000000,0.000000,-0.167178,-6.813367,31.258806,0.000000,3.652140e-01,70.399156,68.655722,...,0.000000,0.005647,1776.379248,1843.139217,10455.584133,0.000000,0.021877,23.475958,125.140116,60.013312
322,Firm 322,3315.466643,4136.476625,2192.750865,2252.917257,2780.628432,578.238997,1.926540e+03,1366.552217,849.073657,...,5978.084709,5250.432938,4906.432272,6204.396397,5566.091662,3860.015668,2114.645213,3198.394329,1029.870659,3640.241631
323,Firm 323,0.000000,0.000000,0.000000,0.000000,0.000000,6.459131,2.803774e+01,5.689804,1.674462,...,40.153398,33.497286,30.445115,17.823604,13.019950,73.650380,88.869984,92.834958,91.194544,2.725257
324,Firm 324,29.811172,21.003008,13.551740,6.145755,49.793157,45.967315,5.732320e+01,36.910810,1.012305,...,253.309101,353.395687,273.736970,354.965671,298.298975,61.397880,63.084690,73.016922,11.684645,21.921881
325,Firm 325,108.471899,496.296030,437.217641,120.652291,0.000000,402.002179,4.082730e+02,477.423649,346.976664,...,673.343922,989.011927,1762.579368,1487.323190,0.000000,183.264710,124.780162,632.096113,592.454455,0.000000

In [198]:
temp = (df_underwriting.drop(['Firm name'], axis=True) == 0).all(axis=1)
df_underwriting[temp]

,Firm name,Gross claims incurred (£m) - 2016YE,Gross claims incurred (£m) - 2017YE,Gross claims incurred (£m) - 2018YE,Gross claims incurred (£m) - 2019YE,Gross claims incurred (£m) - 2020YE,"Gross BEL (inc. TPs as whole, pre-TMTP) (£m) - 2016YE","Gross BEL (inc. TPs as whole, pre-TMTP) (£m) - 2017YE","Gross BEL (inc. TPs as whole, pre-TMTP) (£m) - 2018YE","Gross BEL (inc. TPs as whole, pre-TMTP) (£m) - 2019YE",...,Gross expense ratio - 2016YE,Gross expense ratio - 2017YE,Gross expense ratio - 2018YE,Gross expense ratio - 2019YE,Gross expense ratio - 2020YE,Gross combined ratio - 2016YE,Gross combined ratio - 2017YE,Gross combined ratio - 2018YE,Gross combined ratio - 2019YE,Gross combined ratio - 2020YE
3,Firm 3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,Firm 7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,Firm 13,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,Firm 15,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,Firm 16,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
444,Firm 444,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
446,Firm 446,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
448,Firm 448,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
452,Firm 452,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
456,Firm 456,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [199]:
final_df_underwriting = df_underwriting[~temp]
final_df_underwriting

,Firm name,Gross claims incurred (£m) - 2016YE,Gross claims incurred (£m) - 2017YE,Gross claims incurred (£m) - 2018YE,Gross claims incurred (£m) - 2019YE,Gross claims incurred (£m) - 2020YE,"Gross BEL (inc. TPs as whole, pre-TMTP) (£m) - 2016YE","Gross BEL (inc. TPs as whole, pre-TMTP) (£m) - 2017YE","Gross BEL (inc. TPs as whole, pre-TMTP) (£m) - 2018YE","Gross BEL (inc. TPs as whole, pre-TMTP) (£m) - 2019YE",...,Gross expense ratio - 2016YE,Gross expense ratio - 2017YE,Gross expense ratio - 2018YE,Gross expense ratio - 2019YE,Gross expense ratio - 2020YE,Gross combined ratio - 2016YE,Gross combined ratio - 2017YE,Gross combined ratio - 2018YE,Gross combined ratio - 2019YE,Gross combined ratio - 2020YE
1,Firm 1,0.000000,0.005515,0.000000,0.000000,0.000000,0.000000,0.588994,0.000000,0.000000,...,0.000000,77.251254,0.000000,0.000000,0.000000,0.000000,0.675051,0.000000,0.000000,0.000000
2,Firm 2,44.467865,29.489599,34.100482,0.000000,0.000000,221.327680,59.474691,266.118414,0.000000,...,0.391179,0.685941,1.433284,0.000000,0.000000,1.750946,1.321523,1.545325,0.000000,0.000000
4,Firm 4,14.340938,71.062447,87.912471,42.280402,3.668494,-35.112768,7.848685,100.876270,167.959536,...,0.231139,0.285471,0.054150,0.051848,-0.162883,1.047234,0.476384,3.307379,1.247403,-2.303093
5,Firm 5,48.738606,425.748869,691.379669,174.101260,5.927624,8.386701,253.149414,587.461209,226.977435,...,0.236128,0.232725,0.204508,0.131739,0.048703,0.243611,1.977732,2.495287,0.365455,1.133645
6,Firm 6,125.076792,457.319722,364.148755,257.332452,268.527873,800.531844,554.612070,232.550208,187.213749,...,0.105267,0.451178,0.239576,0.261323,0.065710,0.650369,0.904271,0.147146,0.351034,0.687860
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
450,Firm 450,9.865727,12.139249,28.879946,23.729504,5.183548,2.314067,0.930619,3.984825,2.358924,...,0.102773,0.145711,0.448615,0.381269,0.349206,1.665376,0.720917,0.106654,0.783407,0.319309
451,Firm 451,386.791737,177.237434,1333.892209,535.903659,1684.549270,4780.147939,2151.641698,4674.064094,2793.189770,...,0.054404,0.508696,0.259807,0.454780,0.534641,0.057708,0.381307,1.089470,1.413802,0.272613
453,Firm 453,8.386235,-1.739109,-1.856683,-0.765950,-3.383745,1.694955,148.978198,253.854632,136.672432,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
454,Firm 454,2.000729,3.687010,32.552017,14.850354,15.241039,-0.973747,9.898097,21.950784,4.471228,...,0.124174,0.167220,0.606652,0.040353,0.441248,0.018731,2.615257,2.956422,0.728193,0.352309
455,Firm 455,0.000000,4.549259,1.604993,9.103593,185.079296,0.000000,39.530014,15.362991,45.619029,...,0.000000,1.689138,0.891070,0.905046,0.892326,0.000000,1.336544,0.793408,1.223609,4.331669

In [200]:
combined_df = pd.merge(final_df_general, final_df_underwriting, on='Firm name', how='inner')
combined_df

,Firm name,NWP (£m) - 2016YE,NWP (£m) - 2017YE,NWP (£m) - 2018YE,NWP (£m) - 2019YE,NWP (£m) - 2020YE,SCR (£m) - 2016YE,SCR (£m) - 2017YE,SCR (£m) - 2018YE,SCR (£m) - 2019YE,...,Gross expense ratio - 2016YE,Gross expense ratio - 2017YE,Gross expense ratio - 2018YE,Gross expense ratio - 2019YE,Gross expense ratio - 2020YE,Gross combined ratio - 2016YE,Gross combined ratio - 2017YE,Gross combined ratio - 2018YE,Gross combined ratio - 2019YE,Gross combined ratio - 2020YE
0,Firm 1,-17754.100486,0.000000,0.000000,0.000000,0.000000,2021.321862,6.940043e-09,0.000000,0.000000,...,0.000000,77.251254,0.000000,0.000000,0.000000,0.000000,0.675051,0.000000,0.000000,0.000000
1,Firm 2,9.244369,0.098771,40.812426,35.643071,13.626145,16.459756,1.500907e+01,14.227214,15.037066,...,0.391179,0.685941,1.433284,0.000000,0.000000,1.750946,1.321523,1.545325,0.000000,0.000000
2,Firm 4,19677.453353,41072.816156,20885.506445,14719.672914,49204.465136,15975.652771,1.536789e+04,10797.123319,22788.359468,...,0.231139,0.285471,0.054150,0.051848,-0.162883,1.047234,0.476384,3.307379,1.247403,-2.303093
3,Firm 5,128.812208,10.407371,79.579663,79.423623,61.727295,32.742279,4.395404e+01,31.622572,30.119285,...,0.236128,0.232725,0.204508,0.131739,0.048703,0.243611,1.977732,2.495287,0.365455,1.133645
4,Firm 6,3091.392118,3357.934035,3215.472967,53.217589,5969.707516,5127.365839,5.252809e+03,5460.800869,4581.916567,...,0.105267,0.451178,0.239576,0.261323,0.065710,0.650369,0.904271,0.147146,0.351034,0.687860
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
221,Firm 319,0.001867,0.000000,0.000709,0.000000,0.000000,0.030092,1.946044e-02,0.153949,0.232501,...,0.275577,0.175428,0.175563,0.275946,0.132230,0.482970,0.879777,0.910870,0.264350,0.605032
222,Firm 321,0.000000,0.000000,-0.167178,-6.813367,31.258806,0.000000,3.652140e-01,70.399156,68.655722,...,0.296448,0.191321,0.032038,0.396320,0.227326,0.839221,1.814716,0.344145,0.872099,1.164540
223,Firm 322,3315.466643,4136.476625,2192.750865,2252.917257,2780.628432,578.238997,1.926540e+03,1366.552217,849.073657,...,0.499785,0.323232,0.753450,0.390250,0.513934,0.063623,0.761518,0.998770,1.064060,1.984687
224,Firm 324,29.811172,21.003008,13.551740,6.145755,49.793157,45.967315,5.732320e+01,36.910810,1.012305,...,0.166180,0.328329,0.278285,0.238669,0.228917,1.812040,1.868333,0.800207,0.420591,1.515067
225,Firm 325,108.471899,496.296030,437.217641,120.652291,0.000000,402.002179,4.082730e+02,477.423649,346.976664,...,0.012621,0.039664,0.029074,0.007590,0.045571,0.077135,0.009230,0.724871,0.430852,0.157979

In [202]:
# Final three DataFrames
# 1. final_df_general
# 2. final_df_underwriting
# 3. combined_df

In [203]:
final_df_general.describe()

,NWP (£m) - 2016YE,NWP (£m) - 2017YE,NWP (£m) - 2018YE,NWP (£m) - 2019YE,NWP (£m) - 2020YE,SCR (£m) - 2016YE,SCR (£m) - 2017YE,SCR (£m) - 2018YE,SCR (£m) - 2019YE,SCR (£m) - 2020YE,...,Total liabilities (£m) - 2016YE,Total liabilities (£m) - 2017YE,Total liabilities (£m) - 2018YE,Total liabilities (£m) - 2019YE,Total liabilities (£m) - 2020YE,Excess of assets over liabilities (£m) [= equity] - 2016YE,Excess of assets over liabilities (£m) [= equity] - 2017YE,Excess of assets over liabilities (£m) [= equity] - 2018YE,Excess of assets over liabilities (£m) [= equity] - 2019YE,Excess of assets over liabilities (£m) [= equity] - 2020YE
count,306.000000,306.000000,306.000000,306.000000,306.000000,306.000000,306.000000,306.000000,306.000000,306.000000,...,306.000000,306.000000,306.000000,306.000000,306.000000,306.000000,306.000000,306.000000,306.000000,306.000000
mean,795.379689,800.914523,780.567682,675.841102,833.256869,383.772562,438.845596,302.478854,344.524817,371.169592,...,6984.805089,5776.316962,8132.077092,9269.351215,7437.106899,652.315946,558.736547,546.881212,545.012150,559.960009
std,5528.002300,3514.572014,3306.101094,2639.886298,4782.951587,1601.646957,1734.170141,1096.987863,1763.707630,1785.528497,...,29085.145562,21415.058716,35272.307539,44050.892534,38378.446240,2597.351105,2226.578868,1926.291238,2133.159508,2258.362620
min,-17754.100486,-2061.021955,-368.818583,-184.091940,-2054.549430,0.000000,0.000000,0.000000,0.000000,0.000000,...,-550.975709,-253.333480,-1105.415326,-390.753415,-1487.107764,-64.385088,-123.609578,-51.170785,-72.050028,-118.101429
25%,0.000000,0.000000,0.000000,0.000000,0.000000,3.646601,2.697969,2.127287,1.111261,0.093753,...,6.036197,6.087298,5.188067,1.964490,0.000000,7.828316,6.669907,6.712414,5.960293,0.319162
50%,3.631854,10.771862,10.681345,6.290169,1.934890,20.804065,16.582999,17.726243,12.427585,7.909069,...,68.465621,74.671921,69.907861,52.558752,26.214206,36.842871,45.790473,34.939565,31.932007,25.773748
75%,96.574899,172.670152,145.373480,98.564961,64.574104,122.781222,99.384747,108.970357,98.145567,78.319913,...,800.574659,743.237749,727.856186,895.008881,560.985802,220.230042,193.886965,171.682393,207.226620,131.441282
max,75526.673293,41072.816156,41591.397560,25473.307182,60699.953265,18258.886129,17563.273844,10797.123319,22788.359468,18335.571950,...,244235.769420,167736.855249,362313.847205,471074.183201,494498.525611,24862.167211,26705.042053,16050.453131,25698.092464,24127.839035

In [204]:
final_df_underwriting.describe()

,Gross claims incurred (£m) - 2016YE,Gross claims incurred (£m) - 2017YE,Gross claims incurred (£m) - 2018YE,Gross claims incurred (£m) - 2019YE,Gross claims incurred (£m) - 2020YE,"Gross BEL (inc. TPs as whole, pre-TMTP) (£m) - 2016YE","Gross BEL (inc. TPs as whole, pre-TMTP) (£m) - 2017YE","Gross BEL (inc. TPs as whole, pre-TMTP) (£m) - 2018YE","Gross BEL (inc. TPs as whole, pre-TMTP) (£m) - 2019YE","Gross BEL (inc. TPs as whole, pre-TMTP) (£m) - 2020YE",...,Gross expense ratio - 2016YE,Gross expense ratio - 2017YE,Gross expense ratio - 2018YE,Gross expense ratio - 2019YE,Gross expense ratio - 2020YE,Gross combined ratio - 2016YE,Gross combined ratio - 2017YE,Gross combined ratio - 2018YE,Gross combined ratio - 2019YE,Gross combined ratio - 2020YE
count,340.000000,340.000000,340.000000,340.000000,340.000000,340.000000,340.000000,340.000000,340.000000,340.000000,...,340.000000,340.000000,340.000000,340.000000,340.000000,340.000000,340.000000,340.000000,3.400000e+02,340.000000
mean,152.625082,220.816660,191.636363,143.791000,152.062400,339.242114,406.325181,448.858569,366.873667,350.651612,...,-0.063480,-35.243809,19.363737,1665.483004,8.248231,1.031255,11.422044,48.261427,1.165509e+04,-16.173455
std,532.079491,609.382501,545.341095,347.123909,369.688501,1026.708733,1292.940212,1452.284371,987.179949,904.955033,...,26.167315,886.656037,342.593424,31193.104221,85.913126,36.756904,203.194075,869.124908,2.157556e+05,677.762686
min,-74.422893,-189.936333,-28.867576,-56.723578,-49.154485,-167.815824,-56.661318,-156.503051,-63.159035,-146.208077,...,-180.695307,-16112.406623,-0.476109,-9671.516722,-1.014490,-540.896015,-2354.862219,-210.458456,-1.406448e+04,-12033.441216
25%,0.000000,0.008872,0.147608,0.000000,0.000000,0.063487,1.899050,1.026662,1.054555,0.114221,...,0.000000,0.014166,0.014802,0.000000,0.000000,0.000000,0.006705,0.014394,0.000000e+00,0.000000
50%,9.507452,17.867212,21.703571,14.748842,8.578885,23.353067,39.014178,46.159853,34.809451,28.230871,...,0.142526,0.200926,0.259721,0.160498,0.188581,0.411645,0.646850,0.565463,4.257215e-01,0.502587
75%,102.863817,130.403254,136.203644,121.550246,125.531616,224.458078,265.231858,281.151596,248.260572,276.946203,...,0.442234,0.435450,0.471672,0.426907,0.429136,1.092654,1.384261,1.217385,1.207926e+00,1.159782
max,5619.611745,4801.320297,6844.014131,3223.760583,2730.730064,10234.892253,16074.419135,19292.066525,7394.536801,8618.241189,...,316.024679,2587.034477,6317.468135,575064.786983,1310.176452,297.648235,1577.909736,16023.609296,3.978266e+06,2442.469233

In [206]:
combined_df.describe()

,NWP (£m) - 2016YE,NWP (£m) - 2017YE,NWP (£m) - 2018YE,NWP (£m) - 2019YE,NWP (£m) - 2020YE,SCR (£m) - 2016YE,SCR (£m) - 2017YE,SCR (£m) - 2018YE,SCR (£m) - 2019YE,SCR (£m) - 2020YE,...,Gross expense ratio - 2016YE,Gross expense ratio - 2017YE,Gross expense ratio - 2018YE,Gross expense ratio - 2019YE,Gross expense ratio - 2020YE,Gross combined ratio - 2016YE,Gross combined ratio - 2017YE,Gross combined ratio - 2018YE,Gross combined ratio - 2019YE,Gross combined ratio - 2020YE
count,226.000000,226.000000,226.000000,226.000000,226.000000,226.000000,226.000000,226.000000,226.000000,2.260000e+02,...,226.000000,226.000000,226.000000,226.000000,226.000000,226.000000,226.000000,226.000000,2.260000e+02,226.000000
mean,1000.050450,987.390969,986.538734,745.730177,1038.547620,449.994142,477.800259,299.008625,360.464227,4.299901e+02,...,-0.322141,-57.111775,28.794472,2546.581290,11.479508,-0.295017,7.613905,72.253937,1.759684e+04,28.596792
std,6396.675266,4008.911813,3814.798549,2783.678002,5524.529773,1831.469901,1905.026321,1103.655997,1938.837818,2.026635e+03,...,30.099266,1086.654627,420.198244,38252.620266,104.847319,40.337297,223.931309,1066.009691,2.646308e+05,219.332547
min,-17754.100486,-125.214263,-368.818583,-184.091940,-2054.549430,0.000000,0.000000,0.000000,0.000000,0.000000e+00,...,-180.695307,-16112.406623,-0.476109,-197.379673,-0.162883,-540.896015,-2354.862219,-210.458456,-1.618215e+03,-9.570509
25%,0.000000,0.000000,0.000000,0.000000,0.000000,3.749711,2.697969,2.305947,1.111261,4.700230e-08,...,0.000000,0.031233,0.036860,0.000000,0.000000,0.000000,0.056710,0.041559,0.000000e+00,0.000000
50%,5.092230,10.771862,11.382856,6.012580,2.559319,24.290836,19.511862,20.167744,14.654569,9.119553e+00,...,0.176393,0.200281,0.269105,0.181002,0.202584,0.480460,0.640451,0.685693,4.257215e-01,0.612472
75%,103.892873,182.361051,155.482865,120.209333,79.590635,131.804876,125.779268,108.175635,99.708769,8.721606e+01,...,0.460758,0.430299,0.491501,0.451848,0.480136,1.089415,1.353113,1.254842,1.112772e+00,1.173787
max,75526.673293,41072.816156,41591.397560,25473.307182,60699.953265,18258.886129,17563.273844,10797.123319,22788.359468,1.833557e+04,...,316.024679,2587.034477,6317.468135,575064.786983,1310.176452,250.316795,1547.908699,16023.609296,3.978266e+06,2442.469233

## EDA

## 1. Finding firms based on Firm Sizes

### Appproach:

#### 1. Identify 30 biggest firms based on GWP and NWP
#### 2. Sort them on the basis on mean values
#### 3. Out of 30 firms again filter to find those firms which shows substantial change year to year.

In [229]:
# Table of Firm Sizes for NWP
firm_sizes = final_df_general[['Firm name', 'NWP (£m)  - 2020YE', 'NWP (£m)  - 2019YE', 'NWP (£m)  - 2018YE', 'NWP (£m)  - 2017YE', 'NWP (£m)  - 2016YE']]

firm_sizes['Mean NWP'] = firm_sizes.mean(axis=1)

firm_sizes = firm_sizes.sort_values(by='Mean NWP', ascending=False)

print("Table of Firm Sizes:")
firm_sizes

Table of Firm Sizes:

C:\Users\pc\AppData\Local\Temp/ipykernel_32588/869824042.py:4: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  firm_sizes['Mean NWP'] = firm_sizes.mean(axis=1)
C:\Users\pc\AppData\Local\Temp/ipykernel_32588/869824042.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  firm_sizes['Mean NWP'] = firm_sizes.mean(axis=1)

,Firm name,NWP (£m) - 2020YE,NWP (£m) - 2019YE,NWP (£m) - 2018YE,NWP (£m) - 2017YE,NWP (£m) - 2016YE,Mean NWP
210,Firm 210,60699.953265,25473.307182,41591.397560,19261.406692,30031.048551,35411.422650
4,Firm 4,49204.465136,14719.672914,20885.506445,41072.816156,19677.453353,29111.982801
26,Firm 26,16395.671694,6683.963247,11251.347661,2187.587977,75526.673293,22409.048775
105,Firm 105,2612.553473,21335.956931,-11.983526,18539.933748,41465.110343,16788.314194
311,Firm 311,14566.280927,381.198271,12734.766714,14897.664119,-15.161236,8512.949759
...,...,...,...,...,...,...,...
313,Firm 313,-138.075878,0.620130,0.654000,0.634575,-0.014438,-27.236322
62,Firm 62,-49.836759,-52.983595,-38.525665,-49.292689,0.000000,-38.127742
316,Firm 316,-0.024124,0.024559,-368.818583,-0.109950,0.000000,-73.785620
66,Firm 66,0.000000,0.000000,48.205551,-2061.021955,188.022709,-364.958739
1,Firm 1,0.000000,0.000000,0.000000,0.000000,-17754.100486,-3550.820097

In [235]:
# Table of Firm Sizes for NWP
firm_sizes_gwp = final_df_general[['Firm name', 'GWP (£m) - 2020YE', 'GWP (£m) - 2019YE', 'GWP (£m) - 2018YE', 'GWP (£m) - 2017YE', 'GWP (£m) - 2016YE']]

firm_sizes_gwp['Mean GWP'] = firm_sizes_gwp.mean(axis=1)

firm_sizes_gwp = firm_sizes_gwp.sort_values(by='Mean GWP', ascending=False)

print("Table of Firm Sizes:")
firm_sizes_gwp

Table of Firm Sizes:

C:\Users\pc\AppData\Local\Temp/ipykernel_32588/1217614447.py:4: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  firm_sizes_gwp['Mean GWP'] = firm_sizes_gwp.mean(axis=1)
C:\Users\pc\AppData\Local\Temp/ipykernel_32588/1217614447.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  firm_sizes_gwp['Mean GWP'] = firm_sizes_gwp.mean(axis=1)

,Firm name,GWP (£m) - 2020YE,GWP (£m) - 2019YE,GWP (£m) - 2018YE,GWP (£m) - 2017YE,GWP (£m) - 2016YE,Mean GWP
210,Firm 210,69697.928286,72456.772879,74078.635849,30581.956747,18971.286047,53157.315962
4,Firm 4,37761.883321,41081.453449,68276.763997,23689.616367,43375.806960,42837.104819
311,Firm 311,24251.481358,21730.533088,21432.675231,17291.293201,845.523431,17110.301262
247,Firm 247,9115.194999,7300.862736,12047.809028,43569.201538,5681.610290,15542.935718
105,Firm 105,5857.037438,18504.741252,11934.118361,362.687017,29995.224155,13330.761645
...,...,...,...,...,...,...,...
96,Firm 96,0.000000,0.000000,0.000000,0.003847,-0.014083,-0.002047
56,Firm 56,0.000000,0.000000,0.000000,0.000000,-0.050282,-0.010056
277,Firm 277,0.000000,-0.047061,-0.028284,-0.073408,-0.041652,-0.038081
207,Firm 207,0.000000,0.000000,0.000000,0.095131,-0.308262,-0.042626
61,Firm 61,1.496847,0.237815,-6.203716,-2.212680,2.708866,-0.794574

In [239]:
# Step 1: Assuming 'firm_sizes' and 'firm_sizes_gwp' already contain the average calculations and are sorted
top_30_nwp_firms = firm_sizes.head(30)
top_30_gwp_firms = firm_sizes_gwp.head(30)

# Step 2: Calculate Year-to-Year Growth for NWP and GWP within the top 30 firms
for year in range(2016, 2020):
    year_growth_nwp = f'NWP Growth {year}-{year+1}'
    top_30_nwp_firms[year_growth_nwp] = (top_30_nwp_firms[f'NWP (£m)  - {year+1}YE'] - top_30_nwp_firms[f'NWP (£m)  - {year}YE']) / top_30_nwp_firms[f'NWP (£m)  - {year}YE']

for year in range(2016, 2020):
    year_growth_gwp = f'GWP Growth {year}-{year+1}'
    top_30_gwp_firms[year_growth_gwp] = (top_30_gwp_firms[f'GWP (£m) - {year+1}YE'] - top_30_gwp_firms[f'GWP (£m) - {year}YE']) / top_30_gwp_firms[f'GWP (£m) - {year}YE']

# Handle infinite values due to division by zero
top_30_nwp_firms.replace([np.inf, -np.inf], np.nan, inplace=True)
top_30_gwp_firms.replace([np.inf, -np.inf], np.nan, inplace=True)

# Step 3: Identify Firms with Significant Year-to-Year Changes in NWP and GWP
# Define "significant" as changes beyond a certain threshold, for simplicity, use the interquartile range (25th-75th percentile) as the threshold
threshold_nwp = top_30_nwp_firms[[f'NWP Growth {year}-{year+1}' for year in range(2016, 2020)]].quantile([0.25, 0.75])
threshold_gwp = top_30_gwp_firms[[f'GWP Growth {year}-{year+1}' for year in range(2016, 2020)]].quantile([0.25, 0.75])

significant_changes_nwp = top_30_nwp_firms[
    ((top_30_nwp_firms[[f'NWP Growth {year}-{year+1}' for year in range(2016, 2020)]] < threshold_nwp.loc[0.25]) |
    (top_30_nwp_firms[[f'NWP Growth {year}-{year+1}' for year in range(2016, 2020)]] > threshold_nwp.loc[0.75])).any(axis=1)
]

significant_changes_gwp = top_30_gwp_firms[
    ((top_30_gwp_firms[[f'GWP Growth {year}-{year+1}' for year in range(2016, 2020)]] < threshold_gwp.loc[0.25]) |
    (top_30_gwp_firms[[f'GWP Growth {year}-{year+1}' for year in range(2016, 2020)]] > threshold_gwp.loc[0.75])).any(axis=1)
]

# Extract firm names with significant changes
firms_nwp_significant_changes = significant_changes_nwp.index.tolist()
firms_gwp_significant_changes = significant_changes_gwp.index.tolist()

# Combine and deduplicate firm names
all_firms_with_significant_changes = list(set(firms_nwp_significant_changes + firms_gwp_significant_changes))

all_firms_with_significant_changes

C:\Users\pc\AppData\Local\Temp/ipykernel_32588/3123699551.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  top_30_nwp_firms[year_growth_nwp] = (top_30_nwp_firms[f'NWP (£m)  - {year+1}YE'] - top_30_nwp_firms[f'NWP (£m)  - {year}YE']) / top_30_nwp_firms[f'NWP (£m)  - {year}YE']
C:\Users\pc\AppData\Local\Temp/ipykernel_32588/3123699551.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  top_30_gwp_firms[year_growth_gwp] = (top_30_gwp_firms[f'GWP (£m) - {year+1}YE'] - top_30_gwp_firms[f'GWP (£m) - {year}YE']) / top_30_gwp_firms[f'GWP (£m) - {year}YE']
C:\Users\pc\anaconda3\lib\site-packages\pandas\core\frame.py:5238: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(

[131,
 4,
 6,
 7,
 10,
 17,
 276,
 151,
 23,
 25,
 26,
 30,
 34,
 38,
 301,
 51,
 179,
 311,
 188,
 317,
 199,
 73,
 76,
 80,
 210,
 101,
 104,
 105,
 234,
 107,
 247,
 120]

### Finding firms based on Gross Claims incurred - Changing business profile

In [297]:
gross_claims_year_to_year_changes

,Gross claims incurred (£m) - 2016YE,Gross claims incurred (£m) - 2017YE,Gross claims incurred (£m) - 2018YE,Gross claims incurred (£m) - 2019YE,Gross claims incurred (£m) - 2020YE
1,NaN,inf,1.000000,NaN,NaN
2,NaN,0.336833,0.156356,1.000000,NaN
4,NaN,3.955216,0.237116,0.519063,0.913234
5,NaN,7.735352,0.623914,0.748183,0.965953
6,NaN,2.656312,0.203733,0.293332,0.043506
...,...,...,...,...,...
450,NaN,0.230447,1.379055,0.178340,0.781557
451,NaN,0.541776,6.526019,0.598241,2.143381
453,NaN,1.207377,0.067606,0.587463,3.417707
454,NaN,0.842833,7.828838,0.543796,0.026308
455,NaN,inf,0.647197,4.672045,19.330357

In [304]:
# Gross Claims Incurred: Identify firms with substantial fluctuations in gross claims incurred
gross_claims_cols = final_df_underwriting.filter(regex='Gross claims incurred').columns

final_df_underwriting[gross_claims_cols] = final_df_underwriting[gross_claims_cols].apply(pd.to_numeric, errors='coerce')

gross_claims_year_to_year_changes = final_df_underwriting[gross_claims_cols].pct_change(axis=1).abs()

firms_with_substantial_claims_changes = final_df_underwriting[(gross_claims_year_to_year_changes.max(axis=1) > 10.0) & final_df_underwriting['Gross claims incurred (£m) - 2020YE'] > 0]

C:\Users\pc\anaconda3\lib\site-packages\pandas\core\frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [310]:
firms_with_substantial_claims_changes_final = firms_with_substantial_claims_changes.sort_values(by='Gross claims incurred (£m) - 2020YE', ascending=False).head(10)
firms_with_substantial_claims_changes_final = firms_with_substantial_claims_changes_final[['Firm name', 'Gross claims incurred (£m) - 2016YE', 'Gross claims incurred (£m) - 2017YE', 'Gross claims incurred (£m) - 2018YE', 'Gross claims incurred (£m) - 2019YE', 'Gross claims incurred (£m) - 2020YE']]

In [311]:
firms_with_substantial_claims_changes_final

,Firm name,Gross claims incurred (£m) - 2016YE,Gross claims incurred (£m) - 2017YE,Gross claims incurred (£m) - 2018YE,Gross claims incurred (£m) - 2019YE,Gross claims incurred (£m) - 2020YE
158,Firm 158,1076.941342,878.922426,807.944044,50.737219,2214.251988
286,Firm 286,283.100342,3946.754593,986.399281,1278.582075,1710.897869
37,Firm 37,1724.354082,0.161450,1366.018019,1253.042739,639.228642
347,Firm 347,0.550651,131.717070,259.450407,255.622062,527.271966
304,Firm 304,0.000000,0.000000,0.000000,371.134004,487.136071
118,Firm 118,164.305200,593.559772,17.428045,582.628496,469.663782
198,Firm 198,251.915707,6.722862,207.701179,28.144726,340.298786
127,Firm 127,0.000000,14.182274,133.402375,20.829588,304.503193
42,Firm 42,0.000000,85.968602,175.552508,79.919321,246.165840
199,Firm 199,-6.660151,-48.461989,6.344826,880.149473,244.533191

### Finding firms based on SCR coverage ratio - Outlier detection

In [283]:
# Perform analysis based on identified metrics

# Only taking year 2020 into account to look for short term goals

# SCR Coverage Ratio Analysis: Identify firms with SCR coverage ratio below 100%
firms_scr_coverage_concern = final_df_general[(final_df_general['SCR coverage ratio - 2020YE'] < 1) & (final_df_general['SCR coverage ratio - 2020YE'] != 0)]

firms_scr_coverage_concern = firms_scr_coverage_concern.sort_values(by='Total liabilities (£m) - 2020YE', ascending=False)

In [284]:
firms_scr_coverage_concern.head(10)

,Firm name,NWP (£m) - 2016YE,NWP (£m) - 2017YE,NWP (£m) - 2018YE,NWP (£m) - 2019YE,NWP (£m) - 2020YE,SCR (£m) - 2016YE,SCR (£m) - 2017YE,SCR (£m) - 2018YE,SCR (£m) - 2019YE,...,Total liabilities (£m) - 2016YE,Total liabilities (£m) - 2017YE,Total liabilities (£m) - 2018YE,Total liabilities (£m) - 2019YE,Total liabilities (£m) - 2020YE,Excess of assets over liabilities (£m) [= equity] - 2016YE,Excess of assets over liabilities (£m) [= equity] - 2017YE,Excess of assets over liabilities (£m) [= equity] - 2018YE,Excess of assets over liabilities (£m) [= equity] - 2019YE,Excess of assets over liabilities (£m) [= equity] - 2020YE
10,Firm 10,404.116022,3882.087306,6640.433866,5196.618355,221.986516,3839.041694,5102.458601,2578.827206,323.481575,...,200126.398499,130277.893116,193831.906382,91918.538245,254270.412386,7807.061167,8980.148360,6395.468598,4200.109278,9062.225268
7,Firm 7,3148.478356,3307.129485,713.846420,18232.376510,6486.658898,3352.500439,2155.201622,4246.239082,7597.763417,...,9079.892449,157830.724496,1656.201361,5825.247115,178292.686530,9579.739270,3474.810757,13507.939847,11434.723658,13165.525250
151,Firm 151,-1578.071724,10665.118064,12231.905984,7970.539382,5554.254802,777.618407,1636.952736,335.459445,1468.616696,...,96917.247350,39148.642415,93957.222442,123163.635143,93986.990393,4277.723320,1568.370038,3102.816916,2085.785726,725.734365
208,Firm 208,1521.202456,741.522907,137.787777,2238.261945,2076.829861,19.726201,52.008313,27.201311,27.662484,...,34038.079684,16919.481901,6066.267527,7521.742352,60409.178944,10.230650,56.324208,31.086397,70.841876,94.343706
276,Firm 276,-0.003989,9897.767779,2565.770457,1179.993877,3073.774783,131.025364,310.558627,89.452935,150.299525,...,3669.821283,3226.157140,44395.668883,47144.669717,49396.058909,261.845438,8.014524,249.102519,680.622323,257.563878
234,Firm 234,3700.803327,5344.309755,1155.111534,3998.978113,1569.098440,2540.583338,3375.307912,2125.732382,2635.938596,...,2624.671671,19871.988887,12880.698644,5025.339353,19797.032016,3075.918117,2514.535454,248.063195,2912.460132,803.492643
134,Firm 134,114.172976,379.557998,295.742182,28.747144,188.629903,1989.765569,2552.164964,1801.356166,720.552683,...,3193.888107,25867.071766,8070.207746,17118.130993,14987.686976,2960.701700,538.128899,2805.504064,1939.978726,1626.038040
210,Firm 210,30031.048551,19261.406692,41591.397560,25473.307182,60699.953265,381.753797,236.783571,270.236997,345.806646,...,244235.769420,136676.334675,362313.847205,471074.183201,12327.362736,62.419990,1216.365627,17.997050,445.726650,1123.822900
120,Firm 120,534.840652,2406.779146,6902.885913,4542.235555,687.591337,1670.773502,767.585517,237.708483,1477.826751,...,75717.392047,78126.507629,59619.096016,37205.596815,8037.476539,1448.039815,466.839095,803.586049,2982.180352,1369.723293
26,Firm 26,75526.673293,2187.587977,11251.347661,6683.963247,16395.671694,4282.790194,3851.999871,1061.571588,98.028981,...,69741.379115,68511.986170,57527.473107,84757.530903,7816.288367,7266.408767,6694.884869,7923.764987,7581.777888,48.839483

In [291]:
firms_scr_coverage_concern_final = firms_scr_coverage_concern[['Firm name', 'SCR coverage ratio - 2020YE', 'Total liabilities (£m) - 2020YE']]
firms_scr_coverage_concern_final

    Firm name  SCR coverage ratio - 2020YE  Total liabilities (£m) - 2020YE
10    Firm 10                     0.598787                    254270.412386
7      Firm 7                     0.103713                    178292.686530
151  Firm 151                     0.579234                     93986.990393
208  Firm 208                     0.256797                     60409.178944
276  Firm 276                     0.805141                     49396.058909
..        ...                          ...                              ...
168  Firm 168                     0.188281                         0.001247
173  Firm 173                     0.879593                        -2.425071
70    Firm 70                     0.230195                        -2.608734
148  Firm 148                     0.170593                        -4.700166
15    Firm 15                     0.388477                       -28.920956

[64 rows x 3 columns]

In [293]:
# Net Combined Ratio: Identify firms with net combined ratio indicating potential underwriting losses
firms_net_combined_ratio_concern = final_df_underwriting[(final_df_underwriting['Net combined ratio - 2020YE'] > 100)]
firms_net_combined_ratio_concern

,Firm name,Gross claims incurred (£m) - 2016YE,Gross claims incurred (£m) - 2017YE,Gross claims incurred (£m) - 2018YE,Gross claims incurred (£m) - 2019YE,Gross claims incurred (£m) - 2020YE,"Gross BEL (inc. TPs as whole, pre-TMTP) (£m) - 2016YE","Gross BEL (inc. TPs as whole, pre-TMTP) (£m) - 2017YE","Gross BEL (inc. TPs as whole, pre-TMTP) (£m) - 2018YE","Gross BEL (inc. TPs as whole, pre-TMTP) (£m) - 2019YE",...,Gross expense ratio - 2016YE,Gross expense ratio - 2017YE,Gross expense ratio - 2018YE,Gross expense ratio - 2019YE,Gross expense ratio - 2020YE,Gross combined ratio - 2016YE,Gross combined ratio - 2017YE,Gross combined ratio - 2018YE,Gross combined ratio - 2019YE,Gross combined ratio - 2020YE
166,Firm 166,1.234527,0.012247,0.612890,5.923739,0.455034,3.447958,42.140293,13.508605,58.431320,...,316.024679,-0.14011,53.770731,-197.379673,317.977514,5.018738,-2.87688,30.144741,-661.224952,747.847327
228,Firm 228,0.000000,-0.000025,0.338289,-1.325282,16.905833,0.053375,0.008064,46.492596,18.768523,...,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
284,Firm 284,0.000000,0.000000,0.000000,1.135322,2.199611,0.000000,0.000000,0.000000,7.520723,...,0.000000,0.00000,0.000000,481.659216,826.270104,0.000000,0.00000,0.000000,525.757249,1383.197079

In [237]:
firm_sizes.head(20).to_excel('biggest_firms_nwp.xlsx')
firm_sizes_gwp.head(20).to_excel('biggest_firms_gwp.xlsx')

In [279]:
firms_net_combined_ratio_concern

,Firm name,Gross claims incurred (£m) - 2016YE,Gross claims incurred (£m) - 2017YE,Gross claims incurred (£m) - 2018YE,Gross claims incurred (£m) - 2019YE,Gross claims incurred (£m) - 2020YE,"Gross BEL (inc. TPs as whole, pre-TMTP) (£m) - 2016YE","Gross BEL (inc. TPs as whole, pre-TMTP) (£m) - 2017YE","Gross BEL (inc. TPs as whole, pre-TMTP) (£m) - 2018YE","Gross BEL (inc. TPs as whole, pre-TMTP) (£m) - 2019YE",...,Gross expense ratio - 2016YE,Gross expense ratio - 2017YE,Gross expense ratio - 2018YE,Gross expense ratio - 2019YE,Gross expense ratio - 2020YE,Gross combined ratio - 2016YE,Gross combined ratio - 2017YE,Gross combined ratio - 2018YE,Gross combined ratio - 2019YE,Gross combined ratio - 2020YE
166,Firm 166,1.234527,0.012247,0.612890,5.923739,0.455034,3.447958,42.140293,13.508605,58.431320,...,316.024679,-0.14011,53.770731,-197.379673,317.977514,5.018738,-2.87688,30.144741,-661.224952,747.847327
228,Firm 228,0.000000,-0.000025,0.338289,-1.325282,16.905833,0.053375,0.008064,46.492596,18.768523,...,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
284,Firm 284,0.000000,0.000000,0.000000,1.135322,2.199611,0.000000,0.000000,0.000000,7.520723,...,0.000000,0.00000,0.000000,481.659216,826.270104,0.000000,0.00000,0.000000,525.757249,1383.197079

In [292]:
firms_scr_coverage_concern_final.head(10)

    Firm name  SCR coverage ratio - 2020YE  Total liabilities (£m) - 2020YE
10    Firm 10                     0.598787                    254270.412386
7      Firm 7                     0.103713                    178292.686530
151  Firm 151                     0.579234                     93986.990393
208  Firm 208                     0.256797                     60409.178944
276  Firm 276                     0.805141                     49396.058909
234  Firm 234                     0.047224                     19797.032016
134  Firm 134                     0.570300                     14987.686976
210  Firm 210                     0.163691                     12327.362736
120  Firm 120                     0.945031                      8037.476539
26    Firm 26                     0.310057                      7816.288367

#### Final firm DataFrames

In [317]:
significant_changes_nwp.head(10)

,Firm name,NWP (£m) - 2020YE,NWP (£m) - 2019YE,NWP (£m) - 2018YE,NWP (£m) - 2017YE,NWP (£m) - 2016YE,Mean NWP,NWP Growth 2016-2017,NWP Growth 2017-2018,NWP Growth 2018-2019,NWP Growth 2019-2020
210,Firm 210,60699.953265,25473.307182,41591.397560,19261.406692,30031.048551,35411.422650,-0.358617,1.159313,-0.387534,1.382885
4,Firm 4,49204.465136,14719.672914,20885.506445,41072.816156,19677.453353,29111.982801,1.087303,-0.491501,-0.295221,2.342769
26,Firm 26,16395.671694,6683.963247,11251.347661,2187.587977,75526.673293,22409.048775,-0.971036,4.143266,-0.405941,1.452987
105,Firm 105,2612.553473,21335.956931,-11.983526,18539.933748,41465.110343,16788.314194,-0.552879,-1.000646,-1781.440607,-0.877552
311,Firm 311,14566.280927,381.198271,12734.766714,14897.664119,-15.161236,8512.949759,-983.615442,-0.145184,-0.970066,37.211823
247,Firm 247,191.590179,6512.232956,6237.267910,25897.338404,2489.220023,8265.529895,9.403796,-0.759154,0.044084,-0.970580
199,Firm 199,13133.461750,3395.026046,11509.508404,10050.601335,1.217636,7617.963034,8253.193568,0.145156,-0.705024,2.868442
151,Firm 151,5554.254802,7970.539382,12231.905984,10665.118064,-1578.071724,6968.749302,-7.758323,0.146908,-0.348381,-0.303152
7,Firm 7,6486.658898,18232.376510,713.846420,3307.129485,3148.478356,6377.697934,0.050390,-0.784149,24.541035,-0.644223
73,Firm 73,4073.346848,11752.057330,6813.491255,880.739085,8118.728208,6327.672545,-0.891518,6.736106,0.724822,-0.653393

In [318]:
significant_changes_gwp.head(10)

,Firm name,GWP (£m) - 2020YE,GWP (£m) - 2019YE,GWP (£m) - 2018YE,GWP (£m) - 2017YE,GWP (£m) - 2016YE,Mean GWP,GWP Growth 2016-2017,GWP Growth 2017-2018,GWP Growth 2018-2019,GWP Growth 2019-2020
311,Firm 311,24251.481358,21730.533088,21432.675231,17291.293201,845.523431,17110.301262,19.450401,0.239507,0.013897,0.116009
247,Firm 247,9115.194999,7300.862736,12047.809028,43569.201538,5681.610290,15542.935718,6.668460,-0.723479,-0.394009,0.248509
105,Firm 105,5857.037438,18504.741252,11934.118361,362.687017,29995.224155,13330.761645,-0.987909,31.904730,0.550575,-0.683484
26,Firm 26,10352.250388,8013.277032,3419.692561,13019.600408,17208.386183,10402.641314,-0.243415,-0.737343,1.343274,0.291887
73,Firm 73,6173.505533,23667.380816,10334.861468,2419.703347,4615.597183,9442.209669,-0.475755,3.271127,1.290053,-0.739156
7,Firm 7,16183.565614,4224.697702,5814.003842,12689.066336,4169.537704,8616.174240,2.043279,-0.541810,-0.273358,2.830704
151,Firm 151,15824.692457,2494.650645,94.583366,8634.614029,12222.424866,7854.193072,-0.293543,-0.989046,25.375152,5.343450
101,Firm 101,0.000000,4418.482952,3854.215481,12883.169565,12011.619720,6633.497544,0.072559,-0.700833,0.146403,-1.000000
10,Firm 10,882.479158,10552.586690,9002.108895,9887.800616,678.223770,6200.639826,13.578965,-0.089574,0.172235,-0.916373
199,Firm 199,2305.410627,9572.917261,14072.905755,4428.237048,29.255443,6081.745227,150.364554,2.177993,-0.319763,-0.759174

In [319]:
firms_with_substantial_claims_changes_final

,Firm name,Gross claims incurred (£m) - 2016YE,Gross claims incurred (£m) - 2017YE,Gross claims incurred (£m) - 2018YE,Gross claims incurred (£m) - 2019YE,Gross claims incurred (£m) - 2020YE
158,Firm 158,1076.941342,878.922426,807.944044,50.737219,2214.251988
286,Firm 286,283.100342,3946.754593,986.399281,1278.582075,1710.897869
37,Firm 37,1724.354082,0.161450,1366.018019,1253.042739,639.228642
347,Firm 347,0.550651,131.717070,259.450407,255.622062,527.271966
304,Firm 304,0.000000,0.000000,0.000000,371.134004,487.136071
118,Firm 118,164.305200,593.559772,17.428045,582.628496,469.663782
198,Firm 198,251.915707,6.722862,207.701179,28.144726,340.298786
127,Firm 127,0.000000,14.182274,133.402375,20.829588,304.503193
42,Firm 42,0.000000,85.968602,175.552508,79.919321,246.165840
199,Firm 199,-6.660151,-48.461989,6.344826,880.149473,244.533191

In [322]:
firms_scr_coverage_concern_final.head(10)

    Firm name  SCR coverage ratio - 2020YE  Total liabilities (£m) - 2020YE
10    Firm 10                     0.598787                    254270.412386
7      Firm 7                     0.103713                    178292.686530
151  Firm 151                     0.579234                     93986.990393
208  Firm 208                     0.256797                     60409.178944
276  Firm 276                     0.805141                     49396.058909
234  Firm 234                     0.047224                     19797.032016
134  Firm 134                     0.570300                     14987.686976
210  Firm 210                     0.163691                     12327.362736
120  Firm 120                     0.945031                      8037.476539
26    Firm 26                     0.310057                      7816.288367

In [323]:
firms_net_combined_ratio_concern[['Firm name', 'Net combined ratio - 2020YE']]

    Firm name  Net combined ratio - 2020YE
166  Firm 166                  1222.879483
228  Firm 228                  1642.927280
284  Firm 284                  1630.065399

In [ ]:
firms_nwp_significant_changes = significant_changes_nwp.index.tolist()

In [326]:
firms_with_substantial_claims_changes_final_list = firms_with_substantial_claims_changes_final.index.tolist()
firms_scr_coverage_concern_final_list = firms_scr_coverage_concern_final.head(10).index.tolist()
firms_net_combined_ratio_concern_list = firms_net_combined_ratio_concern[['Firm name', 'Net combined ratio - 2020YE']].index.tolist()

In [327]:
final_firm_list = list(set(all_firms_with_significant_changes + firms_with_substantial_claims_changes_final_list + firms_scr_coverage_concern_final_list + firms_net_combined_ratio_concern_list))

final_firm_list

[131,
 4,
 6,
 7,
 134,
 10,
 17,
 276,
 23,
 151,
 25,
 26,
 284,
 30,
 158,
 286,
 34,
 37,
 38,
 166,
 42,
 301,
 304,
 51,
 179,
 311,
 188,
 317,
 198,
 199,
 73,
 76,
 80,
 208,
 210,
 347,
 228,
 101,
 104,
 105,
 234,
 107,
 118,
 247,
 120,
 127]

In [328]:
len(final_firm_list)

46